.mat-card-title {
  color: var(--primary-color);
}

@media (min-width: 599px) {
  mat-card > mat-form-field {
    width: 500px;
  }
}

@media (max-width: 599px) {
  //for smartphones
  mat-card > mat-form-field {
    width: 350px;
  }
}

.push-right {
  margin-left: auto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 40;
}
