<!-- <div class="contact-verification-code-your-contact-row">
  <label class="contact-verification-code-text">Your Email: </label>
  <label class="contact-verification-code-text1">youremail@email.com</label>
</div> -->
<div class="contact-verification-code-contact-sent-message">
  <p class="contact-verification-code-text2">
    <span>Hi {{ firstName }},</span><br /><br />
    <span>
      we have sent a six-digit verification code to your mobile number
      <span class="mobileNumberText">[{{ mobile }}]</span>. Please check your
      mobile for an incoming sms.
    </span>
    <br />
  </p>
  <p class="contact-verification-code-text5">
    Once you locate the message, please copy the six-digit code and paste it in
    the designated field below.
  </p>
  <p class="contact-verification-code-text6">
    If you haven&apos;t received the verification code within a few minutes, you
    can request a new one by clicking on the &apos;Resend&apos; button after two
    minutes (120 seconds).
  </p>
</div>
<form [formGroup]="codeVerificationFormGroup">
  <div class="contact-verification-code-text-verification-code-row">
    <input
      type="text"
      placeholder="6 digits Code"
      formControlName="code"
      class="contact-verification-code-txt-code Content-2"
      autocomplete="new-password"
      maxlength="6"
      (blur)="emitCode()"
      (keydown)="onKeyDown($event)"
      #code
    />
    <label *ngIf="showCountdown" class="contact-verification-code-lbl-time">{{
      countdown
    }}</label>
    <button
      mat-raised-button
      type="button"
      class="button mat-body-2 contact-verification-code-resend-code-button"
      (click)="resend()"
      *ngIf="!showCountdown"
    >
      Resend
    </button>
  </div>
  <mat-error
    style="text-align: left"
    [input]="code"
    fieldLabel="Verification Code"
    [group]="codeVerificationFormGroup"
    [appFieldError]="ErrorSets['SixDigitCodeText']"
  >
  </mat-error>
</form>
