<div class="my-profile-container">
  <div class="my-profile-main-page-column">
    <div class="mat-title page-Title-Header">
      <label>Profile</label>
    </div>
    <div class="my-profile-name-row">
      <label class="mat-subheading-2 my-profile-labels">Name</label>
      <label class="my-profile-lbl-values">Asif</label>
    </div>
    <div class="my-profile-membership-row">
      <label class="mat-subheading-2 my-profile-labels">
        <span>Membership Type</span>
        <br />
      </label>
      <label class="my-profile-lbl-values">Annual</label>
    </div>
    <div class="my-profile-earnings-row">
      <label class="mat-subheading-2 my-profile-labels">Pi Earnings</label>
      <label class="my-profile-lbl-values">0</label>
    </div>
    <div class="my-profile-location-row">
      <label class="mat-subheading-2 my-profile-labels">Location</label>
      <label class="my-profile-lbl-values">Australia/Melbourne</label>
    </div>
    <div class="my-profile-account-verification-row">
      <div class="my-profile-account-verification-title-row">
        <label class="mat-subheading-2 my-profile-labels">
          Account Verification
        </label>
      </div>
      <div class="my-profile-email-address-row">
        <label class="my-profile-email-address"
          >Email Address <span class="email-update-link">(Update)</span></label
        >
        <span class="my-profile-lbl-emailverified-message">
          Your email address has been verified. Be sure to keep your email
          address updated.
        </span>
      </div>
    </div>
    <div class="my-profile-code-row">
      <div class="my-profile-container1">
        <div class="my-profile-invitation-code-row">
          <label class="mat-subheading-2 my-profile-labels"
            >Invitation code to share</label
          >
          <label class="my-profile-lbl-values">asifj2202</label>
        </div>
        <div class="my-profile-reward-message-row">
          <label class="my-profile-pi-reward-message">
            <span> &quot;Share this Code. Secure the Reward.&quot;</span>
            <br />
          </label>
          <span class="info-click-prompt-text">
            For details click on the info icon.
          </span>
          <svg viewBox="0 0 1024 1024" class="my-profile-icon">
            <path
              d="M554 384v-86h-84v86h84zM554 726v-256h-84v256h84zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="my-profile-col-mob-view-only">
    <div class="my-profile-message-prompt-row">
      <span class="mat-title mob-view-prompt-text">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. <br /><br />
        Thank you!
      </span>
    </div>
  </div>
</div>
