.auto-option-list {
  font-size: 12px;
  font-family: "Montserrat";
  height: var(--dl-space-space-twounits);
}

@media (max-width: 479px) {
  .auto-option-list {
    font-size: 12px;
    font-family: "Montserrat";
    height: var(--dl-space-space-twounits);
  }

  .button-disabled {
    background-color: grey;
    color: white;
  }

  .button-Back {
    width: 30%;
    height: var(--dl-size-size-xsmall);
  }

  .button-Next {
    width: 30%;
    margin-left: var(--dl-space-space-halfunit);
    height: var(--dl-size-size-xsmall);
  }

  ::ng-deep .mat-icon-button.mat-icon-button {
    margin-left: 2px;
    margin-right: 8px;
    margin-bottom: 5px;
    width: 1.9em;
    height: 1.9em;
    background-color: var(--dl-color-primary-700);
  }
}
