<div class="video-validation-rules-container">
  <div class="video-validation-rules-col-mob-view-only">
    <div class="video-validation-rules-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="video-validation-rules-main-page-column">
    <div class="Content-2 video-validation-rules-content-column">
      <div class="mat-title page-Title-Header">
        <label>Rules for Video Content</label>
      </div>
      <div class="video-validation-rules-abide-by-row">
        <label class="video-validation-rules-text01">
          By using the StreamVault platform, you agree to abide by the following
          rules for publishing, validating, and viewing video content:
        </label>
      </div>

      <div class="video-validation-rules-rules-row">
        <ul class="list video-validation-rules-lst-rules">
          <li class="list-item video-validation-rules-li">
            <span>
              No explicit or adult content: You are prohibited from publishing
              any explicit or sexually suggestive material that could be deemed
              inappropriate for a family-friendly environment.
            </span>
          </li>
          <li class="list-item video-validation-rules-li01">
            <span>
              Respectful language and behavior: Ensure that your videos promote
              respectful and positive communication. Discourage the use of
              offensive, derogatory, or abusive language.
            </span>
          </li>
          <li class="list-item video-validation-rules-li02">
            <span>
              No hate speech or discrimination: Forbid content that promotes
              hate speech, discrimination, or violence against individuals or
              groups based on characteristics such as race, ethnicity, religion,
              gender, or sexual orientation
            </span>
          </li>
          <li class="list-item video-validation-rules-li03">
            <span>
              No graphic or disturbing content: Avoid videos that contain
              graphic violence, gore, or disturbing imagery that could
              potentially upset or harm viewers, particularly younger audiences.
            </span>
          </li>
          <li class="list-item video-validation-rules-li04">
            <span>
              Age-appropriate content: Ensure that videos are suitable for all
              age groups and comply with appropriate ratings and
              classifications. Implement measures to prevent the publication of
              content that may be unsuitable for children or violates age
              restrictions.
            </span>
          </li>
          <li class="list-item video-validation-rules-li05">
            <span>
              No bullying or harassment: Prohibit the publication of videos that
              encourage bullying, cyberbullying, or harassment of individuals or
              groups. We foster a safe and inclusive environment for all users.
            </span>
          </li>
          <li class="list-item video-validation-rules-li06">
            <span>
              Intellectual property rights: Enforce copyright laws and prohibit
              the publishing of videos that infringe on the intellectual
              property rights of others, including unauthorized use of music,
              images, or video clips.
            </span>
          </li>
          <li class="list-item video-validation-rules-li07">
            <span>
              Reporting and moderation: Utilize our reporting mechanisms to flag
              inappropriate or violating content. We have a robust moderation
              system in place to review reported videos and take appropriate
              actions, such as removal or disciplinary measures against
              violators.
            </span>
          </li>
          <li class="list-item video-validation-rules-li08">
            <span>
              Compliance with community guidelines: Understand and adhere to our
              clear community guidelines that outline acceptable behavior and
              content standards. We regularly review and enforce these
              guidelines to maintain a respectful and ethical environment.
            </span>
          </li>
          <li class="list-item video-validation-rules-li09">
            <span>
              Continuous monitoring and improvement: We continuously assess and
              update our guidelines to address emerging ethical concerns and
              changing societal norms. We strive to stay informed about industry
              best practices and actively collaborate with our users to improve
              our platform&apos;s content standards.
            </span>
          </li>
          <li class="list-item video-validation-rules-li10">
            <span>
              Authenticity and truthfulness: Encourage you to publish genuine
              and truthful content. Discourage the dissemination of false
              information, misleading claims, or deceptive practices.
            </span>
          </li>
          <li class="list-item video-validation-rules-li11">
            <span>
              Privacy and consent: Respect the privacy of individuals and ensure
              that you have explicit consent for publishing videos that involve
              personal information or sensitive subjects. Ensure compliance with
              applicable privacy laws and regulations.
            </span>
          </li>
        </ul>
      </div>
      <div class="video-validation-rules-agree-consent-row">
        <p class="video-validation-rules-text02">
          By using StreamVault, you acknowledge that you have read, understood,
          and agreed to comply with these rules. Failure to adhere to these
          guidelines may result in actions including content removal, account
          suspension, or other appropriate measures.
        </p>
        <input
          type="checkbox"
          name="chkAgree"
          checked="true"
          autofocus
          class="video-validation-rules-checkbox"
        />
      </div>

      <div class="video-validation-rules-button-row">
        <button
          mat-raised-button
          color="accent"
          class="button video-validation-rules-button"
        >
          I Agree
        </button>
      </div>
    </div>
  </div>
</div>
