<div class="log-out-container">
  <div class="log-out-col-mob-view-only">
    <div class="log-out-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="log-out-main-page-column">
    <div class="log-out-logout-header">
      <label class="Heading-3">You are Logged Out!</label>
    </div>
    <div class="log-out-signin-message-row">
      <label class="log-out-text">
        To Login again, please click the button below.
      </label>
    </div>
    <div class="log-out-signin-message-row1">
      <label class="log-out-text1">Button</label>
      <svg viewBox="0 0 1024 1024" class="log-out-icon">
        <path
          d="M384 512h-320v-128h320v-128l192 192-192 192zM1024 0v832l-384 192v-192h-384v-256h64v192h320v-576l256-128h-576v256h-64v-320z"
        ></path>
      </svg>
    </div>
  </div>
</div>
