<section style="margin-top:10px; margin-bottom:10px">
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">

    <mat-card fxLayout="column" fxLayoutGap="30px">
      <mat-card-content color="primary">
        You have been logged out of the Pi Blockchain Network.
      </mat-card-content>
      <mat-card-content>
        To reconnect to the Network, please click the Connect button below.
        <div style="margin-top:30px">
          <span>
            <button [ngClass]="{ spinner: _isBusy }" mat-stroked-button color="primary" (click)="connectWithPiNetwork()"
              matTooltip="Connect with Pi Network" aria-label="Connect">
              Connect
            </button>
          </span>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <span style="padding-left:15px; color:var(--primary-color)">You will be redirect to the Home page within
          {{counter}} seconds.</span>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
