<div class="upload-popup banner-image-upload-container">
  <div
    *ngIf="targetImageType === imageType.Banner"
    class="banner-image-upload-container2"
  >
    <span class="banner-image-upload-txt-intro">
      This image will appear across the top of your channel.<br /><br />
      Please ensure that the image dimensions are between 970 x 250 pixels and
      1600 x 400 pixels. The file size should be 6MB or less.
    </span>
  </div>

  <div
    *ngIf="targetImageType === imageType.Profile"
    class="banner-image-upload-container2"
  >
    <span class="banner-image-upload-txt-intro">
      This image will appear as the profile picture for your channel.<br /><br />
      Please ensure that the image dimensions are between 200 x 200 pixels and
      400 x 400 pixels. The file size should be 3MB or less.
    </span>
  </div>

  <div class="banner-image-upload-container-file-upload">
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
      accept="image/*"
    />
    <button
      mat-raised-button
      color="accent"
      (click)="chooseImageFile()"
      class="button banner-image-upload-btn-choose"
    >
      Choose
    </button>

    <span *ngIf="selectedFile" class="banner-image-upload-txt-file-name">{{
      imageFileName
    }}</span>
  </div>
  <div *ngIf="isUploading" class="banner-image-upload-container-progress">
    <mat-progress-bar
      mode="determinate"
      [value]="uploadProgress"
    ></mat-progress-bar>
  </div>
  <div *ngIf="selectedFile" class="banner-image-upload-container-banner-image">
    <img
      [src]="selectedFile"
      alt="Selected Image"
      class="banner-image-upload-banner-image"
    />
  </div>

  <div
    *ngIf="!selectedFile"
    class="banner-image-upload-container-banner-no-image"
  >
    <span
      *ngIf="targetImageType === imageType.Banner"
      class="banner-image-upload-banner-no-image-text"
      >No Banner Image</span
    >
    <span
      *ngIf="targetImageType === imageType.Profile"
      class="banner-image-upload-banner-no-image-text"
      >No Profile Picture</span
    >
  </div>

  <div class="banner-image-upload-container-buttonDone">
    <button
      mat-raised-button
      color="accent"
      class="button banner-image-upload-btn-Done"
      (click)="closeBannerUploadOverlay()"
    >
      Done
    </button>
  </div>
</div>
<!-- <div class="upload-popup">Hello, HOw are you , Channel Banner</div> -->
