<div class="video-info-container">
  <div class="video-info-main-column">
    <div class="video-info-vid-container"></div>
    <div class="video-info-title-container">
      <label class="mat-title video-info-title-label">Video Title</label>
    </div>
    <div class="video-info-container1">
      <label class="mat-subheading-2 video-info-labels"> Published Date </label>
      <label class="Content-2 video-info-published-val">21-April-2023</label>
    </div>
    <div class="video-info-container2">
      <label class="mat-subheading-2 video-info-labels">Visibility</label>
      <label class="Content-2 video-info-visibility-val">Public</label>
    </div>
    <div class="video-info-restrictions-container">
      <label class="mat-subheading-2 video-info-labels"> Restrictions </label>
      <label class="Content-2 video-info-restrictions-val">None</label>
    </div>
    <div class="video-info-analytics-container">
      <label class="mat-title video-info-analytics-label">Analytics</label>
    </div>
    <div class="video-info-container3">
      <label class="mat-subheading-2 video-info-labels">Views</label>
      <label class="Content-2 video-info-views-val">25K</label>
    </div>
    <div class="video-info-watch-time-container">
      <label class="mat-subheading-2 video-info-labels">
        Watch Time <small>(Hours)</small>
      </label>
      <label class="Content-2 video-info-watch-val">hours</label>
    </div>
    <div class="video-info-separator"></div>
    <div class="video-info-latest-comment-container">
      <label class="mat-title video-info-latest-comments">
        Latest Comments
      </label>
    </div>
    <div class="video-info-latest-comment-top-container">
      <div class="video-info-commenter-logo-container">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="video-info-commenter-logo"
        />
      </div>
      <div class="video-info-commenter-info-column">
        <div class="video-info-commenter-name-container">
          <label class="mat-caption video-info-text">User Name</label>
          <label class="mat-caption video-info-text1">1 month ago</label>
        </div>
        <div class="video-info-comment-container">
          <label class="mat-body-2 video-info-comment">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </label>
        </div>
      </div>
    </div>
    <!-- <div class="video-info-container4">
      <app-component rootClassName="component-root-class-name"></app-component>
    </div> -->
  </div>
  <div class="video-info-col-mob-view-only">
    <div class="video-info-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
</div>
