<div class="page-not-found-container">
  <div class="page-not-found-col-mob-view-only">
    <div class="page-not-found-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="page-not-found-main-page-column">
    <div class="page-not-found-pagenotfound-header"></div>
    <div class="page-not-found-message-row">
      <img
        alt="image"
        src="../../assets/img/images/page-not-found-image.png"
        class="page-not-found-image"
      />
    </div>
    <div class="page-not-found-home-button-row">
      <label class="page-not-found-text">Home</label>
    </div>
  </div>
</div>
