<section style="margin-top: 10px; margin-bottom: 10px">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card
      fxLayout="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="30px"
    >
      <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
      <h1 class="heading">Page Not Found</h1>
      <p class="message">The page you are looking for could not be found.</p>
      <a mat-raised-button color="accent" routerLink="/">Go Back Home</a>
    </mat-card>
  </div>
</section>
