// primary, accent and warn palettes

$streamvault-primary: mat-palette($mat-deep-orange);
$streamvault-accent: mat-palette($mat-teal, 700, 200, 800);

// The warn palette is optional (defaults to red).
$streamvault-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$streamvault-light-theme: mat-light-theme(
  (
    color: (
      primary: $streamvault-primary,
      accent: $streamvault-accent,
      warn: $streamvault-warn,
    ),
  )
);

.light-theme {
  @include angular-material-theme($streamvault-light-theme);
  @include generate-theme-vars($streamvault-light-theme);
}
