// primary, accent and warn palettes

$streamweb3-primary: mat-palette($mat-deep-orange);
$streamweb3-accent: mat-palette($mat-deep-purple, A200, A100, A400);

// The warn palette is optional (defaults to red).
$streamweb3-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$streamweb3-light-theme: mat-light-theme(
  (
    color: (
      primary: $streamweb3-primary,
      accent: $streamweb3-accent,
      warn: $streamweb3-warn,
    ),
  )
);

.light-theme {
  @include angular-material-theme($streamweb3-light-theme);
  @include generate-theme-vars($streamweb3-light-theme);
}
