@media (max-width: 479px) {
  .mat-form-field-class {
    margin-top: var(--dl-space-space-unit);
    width: 260px;
    height: var(--dl-size-size-medium-1);
  }

  .mat-vertical-content {
    padding-top: var(--dl-space-space-halfunit) !important;
    padding-bottom: var(--dl-space-space-halfunit) !important;
  }

  .mat-vertical-stepper-header {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: var(--dl-space-space-halfunit) !important;
    border-radius: 6px;
  }

  /* Customizing the close button */
  .mat-snack-bar-action {
    margin-top: var(
      --dl-space-space-unit
    ) !important; /* Custom color for the close button */
  }

  /* Customizing the message text */
  .mat-simple-snackbar {
    color: #ffffff !important; /* Custom color for the message text */
    font-size: 12px !important; /* Custom font size for the message text */
    flex-wrap: wrap;
  }

  .mat-simple-snackbar button {
    margin-top: var(--dl-space-space-unit) !important;
    background-color: var(--dl-color-primary-500) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 12px;
    max-width: var(--dl-size-size-medium-1) !important;
  }

  .mat-simple-snackbar mat-simple-snackbar {
    text-align: justify;
  }

  /* Customizing the container */
  .mat-snack-bar-container {
    background-color: var(
      --dl-color-accent-500
    ) !important; /* Custom background color for the container */
    flex-wrap: wrap !important;
    max-width: 92% !important;
    min-height: var(--dl-size-size-medium) !important;
    height: auto !important;
    margin-bottom: var(--dl-space-space-unit) !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 379px) {
  .mat-form-field-class {
    margin-top: var(--dl-space-space-halfunit);
    max-width: 230px !important;
  }
}
