@import "@angular/material/theming";
@include mat-core();

@import "./typo_config.scss";

@import "functions";

@import "./themes/light_theme.scss";
@import "./themes/dark_theme.scss";

/* You can add global styles to this file, and also import other style files */

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat, "Roboto", "Helvetica Neue", sans-serif;
}
