@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Define  a custom typography config
$heading-font-family: "'Montserrat', sans-serif";
$typography: mat-typography-config(
  $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
  $subheading-2: mat-typography-level(18px, $font-family: $heading-font-family),
  $subheading-1: mat-typography-level(16px, $font-family: $heading-font-family),
  $body-2: mat-typography-level(14px, $font-family: $heading-font-family),
  $body-1: mat-typography-level(12px, $font-family: $heading-font-family),
  $button: mat-typography-level(14px, $font-family: $heading-font-family),
  $caption: mat-typography-level(12px, $font-family: $heading-font-family),
);
