<div class="membership-registration-container">
  registration
  <form [formGroup]="_membershipForm" (ngSubmit)="onSubmit()">
    <div class="membership-registration-main-column">
      <div class="mat-title page-Title-Header">
        <label> Become Member </label>
      </div>
      <div class="membership-registration-page-header-2">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG1lbWJlcnxlbnwwfHx8fDE2ODEyNzg4Njc&amp;ixlib=rb-4.0.3&amp;w=200"
          class="membership-registration-image"
        />
        <svg viewBox="0 0 1024 1024" class="membership-registration-back-icon">
          <path d="M498 166l-346 346 346 346-76 76-422-422 422-422z"></path>
        </svg>
      </div>
      <div class="membership-registration-page-description">
        <span class="membership-registration-text Content-2">
          All these subscriptions are based  on Test Pi (but not real Pi). As
          this system is running in Pi Testnet.
        </span>
      </div>

      <mat-form-field class="membership-registration-text-name-container">
        <mat-label>Your Name</mat-label>
        <input
          matInput
          placeholder="Name"
          class="membership-registration-name .mat-form-field-infix"
        />
      </mat-form-field>

      <mat-form-field class="membership-registration-text-email-container">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" />
      </mat-form-field>

      <mat-form-field class="membership-registration-select-coutry-container">
        <mat-label>Country</mat-label>
        <select matNativeControl required>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </mat-form-field>

      <mat-form-field class="membership-registration-select-city-container">
        <mat-label>City</mat-label>
        <select matNativeControl required>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </mat-form-field>

      <div class="membership-registration-age-greater-than18-container">
        <span class="membership-registration-text01 mat-subheading-1">
          Age greater than 18
        </span>
        <mat-checkbox color="accent" checked="true"></mat-checkbox>
      </div>

      <div class="membership-registration-register-button-container">
        <button
          mat-raised-button
          color="accent"
          class="button landing-page-signup-btn"
        >
          Register
        </button>
      </div>
    </div>
  </form>
  <div class="membership-registration-col-mob-view-only">
    <div class="membership-registration-message-prompt-row">
      <span class="mat-title mob-view-prompt-text">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. <br /><br />
        Thank you!
      </span>
    </div>
  </div>
</div>
