:host {
  display: contents;
}
.membership-registration-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.membership-registration-main-column {
  flex: 0 0 auto;
  width: 60%;
  height: 100%;
  display: none;
  align-items: center;
  border-color: var(--dl-color-primary-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(
    135deg,
    rgb(189, 195, 199) 0%,
    rgb(219, 147, 137) 100%
  );
}

form mat-error {
  line-height: 1.3;
  text-align: justify;
  letter-spacing: 0.018rem;
  margin-top: 2px;
  font-family: "Montserrat";
  font-weight: 600;
}

.membership-registration-title {
  color: var(--dl-color-accent-100);
}
.membership-registration-image-header {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  justify-content: space-between;
}
.membership-registration-image {
  width: var(--dl-size-size-medium-1);
  height: var(--dl-size-size-medium-1);
  object-fit: cover;
}
.membership-registration-back-icon {
  fill: var(--dl-color-accent-900);
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  transition: 0.3s;
  padding-left: var(--dl-space-space-unit);
}
.membership-registration-back-icon:hover {
  border-color: var(--dl-color-accent-500);
  border-width: 1px;
}
.membership-registration-page-description {
  flex: 0 0 auto;
  width: 90%;
  height: var(--dl-size-size-medium-1);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}

.membership-registration-text {
  color: var(--dl-color-accent-900);
  text-align: justify;
  width: 100%;
}

.membership-registration-button-container {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.membership-registration-age-greater-than18-container {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium-1);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.membership-registration-text01 {
  color: var(--dl-color-accent-900);
  margin-left: auto;
  margin-right: auto;
}
.membership-registration-checkbox {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: auto;
  margin-right: auto;
}

.membership-registration-text02 {
  color: var(--dl-color-accent-900);
  margin-left: auto;
  margin-right: auto;
}

/* Review and Submit Classes */

.review-name-row {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.review-membership-row {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.review-language {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.review-email-row {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.review-mobile-row {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.review-location-row {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.review-payment-row {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

//-----------------------------------------------

/* Done Classes*/

.done-congrats-row {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.done-button-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  //align-items: center;
  height: auto;
  justify-content: left;
  flex-wrap: wrap;
}

//-----------------------------
.membership-registration-col-mob-view-only {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-accent-300);
}
.mob-view-prompt-text {
  color: var(--dl-color-accent-900);
  line-height: 2;
}
.membership-registration-message-prompt-row {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}

// @media (max-width: 991px) {
//   .membership-registration-container {
//     align-items: center;
//     border-color: var(--dl-color-accent-100);
//     border-width: 1px;
//   }
//   .membership-registration-main-column {
//     border-color: var(--dl-color-primary-900);
//     border-width: 1px;
//   }

//   .membership-registration-image {
//     width: var(--dl-size-size-medium);
//     height: var(--dl-size-size-medium);
//     margin: 0px;
//   }
//   .membership-registration-back-icon {
//     fill: var(--dl-color-accent-900);
//     width: var(--dl-size-size-small);
//     height: var(--dl-size-size-small);
//     border-color: var(--dl-color-accent-500);
//     border-width: 0px;
//     margin-right: var(--dl-space-space-unit);
//     padding-left: var(--dl-space-space-unit);
//   }
//   .membership-registration-page-description {
//     height: auto;
//     justify-content: flex-start;
//   }
//   .membership-registration-text {
//     text-align: justify;
//   }

//   .membership-registration-select {
//     width: 90%;
//     height: var(--dl-size-size-small);
//   }
//   .membership-registration-select-city-container {
//     height: var(--dl-size-size-medium-1);
//   }
//   .membership-registration-select1 {
//     width: 90%;
//     height: var(--dl-size-size-small);
//   }
//   .membership-registration-age-greater-than18-container {
//     height: var(--dl-size-size-medium-1);
//     align-items: center;
//     justify-content: center;
//   }
//   .membership-registration-text01 {
//     color: var(--dl-color-accent-900);
//     margin: auto;
//     align-self: center;
//   }
//   .membership-registration-checkbox {
//     width: var(--dl-size-size-small);
//     height: var(--dl-size-size-small);
//     margin: auto;
//   }

//   .membership-registration-col-mob-view-only {
//     flex: 1;
//     width: 100%;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//     background-color: var(--dl-color-accent-300);
//   }
//   .mob-view-prompt-text {
//     color: var(--dl-color-accent-900);
//     line-height: 2;
//   }
//   .membership-registration-message-prompt-row {
//     width: 80%;
//     align-items: center;
//     justify-content: center;
//   }
// }
// @media (max-width: 767px) {
//   .membership-registration-container {
//     border-color: var(--dl-color-primary-900);
//     border-width: 1px;
//     background-color: var(--dl-color-accent-100);
//   }
//   .membership-registration-main-column {
//     width: 80%;
//   }

//   .membership-registration-image-header {
//     padding: var(--dl-space-space-unit);
//     justify-content: space-between;
//   }
//   .membership-registration-image {
//     width: var(--dl-size-size-medium);
//     height: var(--dl-size-size-medium);
//     margin: 0px;
//   }
//   .membership-registration-back-icon {
//     fill: var(--dl-color-accent-900);
//     width: var(--dl-size-size-small);
//     height: var(--dl-size-size-small);
//     padding-top: 0px;
//     border-width: 0px;
//     margin-right: var(--dl-space-space-unit);
//     padding-left: var(--dl-space-space-halfunit);
//     padding-right: 0px;
//     padding-bottom: 0px;
//   }
//   .membership-registration-page-description {
//     align-items: center;
//     border-color: var(--dl-color-accent-700);
//     border-width: 0px;

//   }

//   .membership-registration-select {
//     width: 90%;
//     height: var(--dl-size-size-small);
//   }
//   .membership-registration-select-city-container {
//     height: var(--dl-size-size-medium-1);
//   }
//   .membership-registration-select1 {
//     width: 90%;
//     height: var(--dl-size-size-small);
//   }
//   .membership-registration-age-greater-than18-container {
//     height: var(--dl-size-size-medium-1);
//     position: relative;
//   }
//   .membership-registration-text01 {
//     color: var(--dl-color-accent-900);
//     align-self: center;
//     margin-left: auto;
//     margin-right: auto;
//   }
//   .membership-registration-checkbox {
//     width: 36px;
//     height: 36px;
//     align-self: center;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .membership-registration-col-mob-view-only {
//     flex: 1;
//     width: 100%;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//     background-color: var(--dl-color-accent-300);
//   }
//   .mob-view-prompt-text {
//     color: var(--dl-color-accent-900);
//     line-height: 2;
//   }
//   .membership-registration-message-prompt-row {
//     width: 70%;
//     align-items: center;
//     justify-content: center;
//   }
// }

@media (max-width: 479px) {
  .membership-registration-container {
    border-width: 0px;
  }
  .membership-registration-main-column {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }

  .membership-registration-main-column {
    flex: 1;
  }

  .membership-registration-image-header {
    height: var(--dl-size-size-medium);
    padding: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .membership-registration-image {
    width: var(--dl-size-size-medium-1);
    height: var(--dl-size-size-medium-1);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .membership-registration-back-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    padding: var(--dl-space-space-halfunit);
    border-width: 0px;
  }
  .membership-registration-page-description {
    height: auto;
  }

  .mat-stepper-vertical {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    width: 95%;
    border-radius: var(--dl-radius-radius-radius6);
  }

  .auto-option-list {
    font-size: 12px;
    font-family: "Montserrat";
    height: var(--dl-space-space-twounits);
  }

  .age-CheckBox-container {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    height: var(--dl-size-size-xsmall);
    width: 100%;
    justify-content: space-between;
  }

  .membership-registration-button-container {
    margin-top: var(--dl-space-space-halfunit);
    height: var(--dl-size-size-small);
    padding: var(--dl-space-space-halfunit);
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .button-Back {
    width: 30%;
    height: var(--dl-size-size-xsmall);
  }

  .button-Next {
    width: 30%;
    margin-left: var(--dl-space-space-halfunit);
    height: var(--dl-size-size-xsmall);
  }

  .membership-registration-age-greater-than18-container {
    padding: var(--dl-space-space-unit);
    width: 100%;
    height: var(--dl-size-size-smmall);
    align-items: center;
    justify-content: space-between;
  }

  .age-greather-than18-error-container {
    margin-top: var(--dl-space-space-unit);
  }

  .membership-registration-text01 {
    color: var(--dl-color-accent-900);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .membership-registration-checkbox {
    width: auto;
    height: auto;
    margin-right: var(--dl-space-space-unit);
  }

  .membership-registration-text02 {
    color: var(--dl-color-accent-900);
    text-align: justify;
    font-family: Montserrat;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }

  /*
  Membership Option Classes
  */

  //-----------------------------------

  /*
  Review and Submit Classes
  */
  .reveiew-first-para {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 2;
    text-align: justify;
  }

  .review-name-row {
    height: var(--dl-size-size-small);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .review-text {
    color: var(--dl-color-accent-900);
  }
  .review-lbl-name {
    color: var(--dl-color-accent-900);
  }
  .review-membership-row {
    height: var(--dl-size-size-small);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .review-text1 {
    color: var(--dl-color-accent-900);
  }
  .review-lbl-membership-type {
    color: var(--dl-color-accent-900);
  }
  .review-language {
    height: var(--dl-size-size-small);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .review-language1 {
    color: var(--dl-color-accent-900);
  }
  .review-lbl-language {
    color: var(--dl-color-accent-900);
  }
  .review-email-row {
    height: var(--dl-size-size-small);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .review-email {
    color: var(--dl-color-accent-900);
  }
  .review-lbl-email {
    color: var(--dl-color-accent-900);
  }
  .review-mobile-row {
    height: var(--dl-size-size-small);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .review-text6 {
    color: var(--dl-color-accent-900);
  }
  .review-lbl-mobile {
    color: var(--dl-color-accent-900);
  }
  .review-location-row {
    height: var(--dl-size-size-small);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .review-text7 {
    color: var(--dl-color-accent-900);
  }
  .review-lbl-location {
    color: var(--dl-color-accent-900);
  }

  .review-payment-row {
    height: var(--dl-size-size-small);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .review-text8 {
    color: var(--dl-color-accent-900);
  }
  .review-lbl-payment-amount {
    color: var(--dl-color-accent-900);
  }

  //------------------------------------------------//

  /* Done Classes */

  .done-first-para {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    margin-left: -15px;
    line-height: 1.3;
    text-align: justify;
  }

  .done-congrats-row {
    height: auto;
    padding-right: var(--dl-space-space-halfunit);
    justify-content: center;
    margin-left: -10px;
  }
  .done-lbl-congrats {
    margin-top: var(--dl-space-space-unit);
    font-weight: bolder;
    color: var(--dl-color-primary-900);
    letter-spacing: 1.5px;
  }

  .done-button-container {
    width: 80%;
    height: auto;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    padding: var(--dl-space-space-halfunit);
    margin-left: 10px;
    justify-content: left !important;
    flex-wrap: wrap;
  }

  .done-button-member-home {
    width: 100%;
    height: var(--dl-size-size-xsmall);
    color: var(--dl-color-primary-900) !important;
    border: 1px solid;
    border-color: var(--dl-color-primary-700);
    margin-bottom: var(--dl-space-space-halfunit);
  }

  .done-button-stream {
    width: 100%;
    height: var(--dl-size-size-xsmall);
    color: var(--dl-color-primary-900) !important;
    border: 1px solid;
    border-color: var(--dl-color-primary-700);
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }

  //--------------------------

  .membership-registration-col-mob-view-only {
    display: none;
  }
}
