<div class="membership-registration-container">
  <div class="membership-registration-main-column">
    <div class="Content-3 page-Title-Header">
      <label> Become Member </label>
    </div>
    <div class="membership-registration-image-header">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG1lbWJlcnxlbnwwfHx8fDE2ODEyNzg4Njc&amp;ixlib=rb-4.0.3&amp;w=200"
        class="membership-registration-image"
      />
      <svg viewBox="0 0 1024 1024" class="membership-registration-back-icon">
        <path d="M498 166l-346 346 346 346-76 76-422-422 422-422z"></path>
      </svg>
    </div>
    <div class="membership-registration-page-description">
      <span class="membership-registration-text Content-2">
        "All of these subscriptions are built on Test Pi rather than real Pi, as
        the system operates within the Pi Testnet environment."
      </span>
    </div>

    <mat-stepper
      orientation="vertical"
      [linear]="true"
      #stepper
      (selectionChange)="onStepChange($event)"
    >
      <mat-step
        [completed]="isMemberVerified"
        [editable]="!isMemberVerified"
        [stepControl]="basicInfoFormGroup"
      >
        <form [formGroup]="basicInfoFormGroup">
          <ng-template matStepLabel>Basic Information</ng-template>

          <mat-form-field class="mat-form-field-class">
            <mat-label>First Name</mat-label>
            <input
              matInput
              aria-label="First Name"
              placeholder="Your First Name"
              formControlName="firstNameCtrl"
              #firstName
              autocomplete="new-password"
            />
            <mat-error
              [input]="firstName"
              fieldLabel="First Name"
              [group]="basicInfoFormGroup"
              [appFieldError]="ErrorSets['RequiredText']"
            >
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mat-form-field-class">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              aria-label="Last Name"
              placeholder="Your Last Name"
              formControlName="lastNameCtrl"
              #lastName
              autocomplete="new-password"
            />
            <mat-error
              [input]="lastName"
              fieldLabel="Last Name"
              [group]="basicInfoFormGroup"
              [appFieldError]="ErrorSets['RequiredText']"
            >
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mat-form-field-class">
            <mat-label>Your Primary Language</mat-label>
            <input
              type="text"
              aria-label="Language"
              placeholder="Language"
              matInput
              formControlName="languageCtrl"
              [matAutocomplete]="auto"
              autocomplete="new-password"
              #lang
            />
            <mat-error
              [input]="lang"
              [group]="basicInfoFormGroup"
              [appFieldError]="{
                error: 'invalid',
                message: 'Please select a valid language.'
              }"
            >
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                class="auto-option-list"
                *ngFor="let option of filteredLanguageOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div
            class="membership-registration-age-greater-than18-container"
            [style.min-height]="
              basicInfoFormGroup.controls['ageCtrl'].hasError('required') &&
              basicInfoFormGroup.controls['ageCtrl'].touched
                ? '120px'
                : '72px'
            "
          >
            <span class="membership-registration-text01 Content-2">
              Age greater than 18
            </span>
            <mat-checkbox
              color="accent"
              checked="true"
              class="membership-registration-checkbox"
              formControlName="ageCtrl"
            ></mat-checkbox>
            <mat-error
              class="age-greather-than18-error-container"
              *ngIf="
                basicInfoFormGroup.controls['ageCtrl'].hasError('required') &&
                basicInfoFormGroup.controls['ageCtrl'].touched
              "
            >
              <span>
                While our platform is suitable for users of all ages, currently,
                we only allow individuals who are 18 years of age or older to
                access our services.</span
              >
            </mat-error>
          </div>

          <div class="membership-registration-agree-tos-container">
            <span class="membership-registration-text03 Content-2">
              I have read and agree to the
              <a
                class="tosAndPV-links-text"
                (click)="openTermsOfServiceDialog()"
              >
                <small>Terms of Service</small>
              </a>
              and
              <a
                class="tosAndPV-links-text"
                (click)="openPrivacyPolicyDialog()"
              >
                <small>Privacy Policy</small></a
              >
            </span>
            <mat-checkbox
              color="accent"
              checked="true"
              class="membership-registration-agree-checkbox"
              formControlName="agreeToTosCtrl"
            ></mat-checkbox>
            <mat-error
              class="agree-error-container"
              *ngIf="
                basicInfoFormGroup.controls['agreeToTosCtrl'].hasError(
                  'required'
                ) && basicInfoFormGroup.controls['agreeToTosCtrl'].touched
              "
            >
              <span> Selection required</span>
            </mat-error>
          </div>

          <div class="membership-registration-button-container">
            <button
              mat-raised-button
              type="button"
              color="accent"
              class="button mat-body-1 button-Next"
              [disabled]="basicInfoFormGroup.invalid"
              (click)="prepareBasicInfo()"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step
        [completed]="isMemberVerified"
        [editable]="!isMemberVerified"
        [stepControl]="contactSectionValidity"
      >
        <ng-template matStepLabel>Fill out your Contact Details</ng-template>
        <app-capture-contact #contactSection></app-capture-contact>

        <div class="membership-registration-button-container">
          <button
            mat-raised-button
            type="button"
            color="accent"
            class="button mat-body-1 button-Back"
            (click)="goBackStep()"
          >
            Back
          </button>
          <button
            mat-raised-button
            type="button"
            color="accent"
            class="button mat-body-1 button-Next"
            (click)="prepareContactSection()"
            [disabled]="!contactSection.contactFormGroup.valid"
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step
        [completed]="isMemberVerified"
        [editable]="!isMemberVerified"
        [stepControl]="codeVerificationSectionValidity"
      >
        <ng-template matStepLabel>Verification</ng-template>
        <app-contact-verification
          #codeVerificationSection
          [firstName]="userObj.name.first"
          [lastName]="userObj.name.last"
          [email]="userObj.email!"
          [mobile]="userObj.mobile"
        ></app-contact-verification>

        <div class="membership-registration-button-container">
          <button
            mat-raised-button
            type="button"
            color="accent"
            class="button mat-body-1 button-Back"
            (click)="goBackStep()"
          >
            Back
          </button>
          <button
            mat-raised-button
            type="button"
            color="accent"
            class="button mat-body-1 button-Next"
            [disabled]="
              !codeVerificationSection.codeVerificationFormGroup.valid
            "
            (click)="verifyMobile()"
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step
        [completed]="isMemberRegistered"
        [editable]="!isMemberRegistered"
        [stepControl]="membershipPlanSectionValidity"
      >
        <ng-template matStepLabel>Select Your Membership Plan</ng-template>

        <app-membership-options #membershipPlanSection></app-membership-options>

        <div class="membership-registration-button-container">
          <button
            mat-raised-button
            type="button"
            color="accent"
            class="button mat-body-1 button-Next"
            [disabled]="!membershipPlanSection.selectedPlan.valid"
            (click)="defineMembershipPlan()"
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step
        [completed]="isMemberRegistered"
        [editable]="!isMemberRegistered"
        [stepControl]="reviewInformationSectionValidity"
      >
        <ng-template matStepLabel>Review and Submit</ng-template>
        <p class="reveiew-first-para">
          Before initiating any payment action, please ensure that you have the
          necessary Test Pi coins.
        </p>

        <div *ngIf="userObj" class="review-name-row">
          <label class="review-text">Name</label>
          <label class="review-lbl-name"
            >{{ userObj.name.first }} {{ userObj.name.last }}
          </label>
        </div>
        <div class="review-membership-row">
          <label class="review-text1">
            <span>Membership</span>
            <br />
          </label>
          <label class="review-lbl-membership-type">{{
            userObj.membership?.planType
          }}</label>
        </div>
        <div class="review-language">
          <label class="review-language1">
            <span>Language</span>
            <br />
          </label>
          <label class="review-lbl-language">{{ userObj.language }}</label>
        </div>
        <div class="review-email-row">
          <span class="review-email">Email</span>
          <label class="review-lbl-email">{{ userObj.email }}</label>
        </div>
        <div class="review-mobile-row">
          <label class="review-text6">Mobile</label>
          <label class="review-lbl-mobile">{{
            userObj.mobile ? userObj.mobile : "--"
          }}</label>
        </div>
        <div class="review-payment-row">
          <label class="review-text8">Payment</label>
          <label class="review-lbl-payment-amount"
            >{{ userObj.membership?.amount }} &#8508;</label
          >
        </div>

        <div class="membership-registration-button-container">
          <button
            mat-raised-button
            type="button"
            color="accent"
            class="button mat-body-1 button-Back"
            (click)="goBackStep()"
          >
            Back
          </button>
          <button
            mat-raised-button
            type="button"
            color="accent"
            class="button mat-body-1 button-Next"
            (click)="registerMember()"
          >
            Register
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>

        <div class="done-congrats-row">
          <label class="done-lbl-congrats mat-title">Congratulations!</label>
        </div>
        <p class="done-first-para Content-2">
          Congratulations on becoming a registered member of the StreamVault
          video community.
        </p>
        <p class="done-first-para Content-2">
          To access and enjoy various features, please explore the provided
          links below:
        </p>
        <div class="done-button-container">
          <button
            mat-button
            class="button mat-body-1 done-button-member-home"
            (click)="goToHome()"
          >
            Home
          </button>
          <button mat-button class="button mat-body-1 done-button-stream">
            Stream
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

  <div class="membership-registration-col-mob-view-only">
    <div class="membership-registration-message-prompt-row">
      <span class="mat-title mob-view-prompt-text">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. <br /><br />
        Thank you!
      </span>
    </div>
  </div>
</div>
