<div class="user-home-container">
  <div class="user-home-main-page-column">
    <div class="user-home-main-video-container-row">
      <div class="user-home-video-container-col">
        <div class="user-home-player"></div>
        <div class="user-home-video-info-container">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="user-home-channel-logo"
          />
          <div class="user-home-container1">
            <div class="user-home-video-title-container">
              <span class="Content-2 user-home-text">
                Video Content Platform on Pi Network, Pi Coin Earning, Crypto
              </span>
            </div>
            <div class="user-home-channel-info-views-howold-container">
              <span class="Content user-home-text1">
                StreamVault - 15K views - 1 month ago
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-home-col-mob-view-only">
    <div class="user-home-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
</div>
