:host {
  display: contents;
}
.user-home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.user-home-main-page-column {
  flex: 0 0 auto;
  width: 200px;
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.user-home-main-video-container-row {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-home-video-container-col {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.user-home-player {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.user-home-video-info-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.user-home-video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-home-channel-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-home-vid-info-panel {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.user-home-video-title-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.user-home-channel-info-views-howold-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.user-home-col-mob-view-only {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-accent-300);
}
.user-home-message-prompt-row {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 991px) {
  .user-home-main-page-column {
    display: none;
  }
  .user-home-col-mob-view-only {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-accent-300);
  }
  .user-home-message-prompt-row {
    width: 80%;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .user-home-main-page-column {
    display: none;
  }
  .user-home-col-mob-view-only {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-accent-300);
  }
  .user-home-message-prompt-row {
    width: 70%;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .user-home-main-page-column {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    background-image: linear-gradient(
      135deg,
      rgb(189, 195, 199) 0%,
      rgb(219, 147, 137) 100%
    );
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .user-home-main-video-container-row {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-home-video-container-col {
    width: 90%;
    height: 100%;
    justify-content: flex-start;
  }
  .user-home-player {
    height: var(--dl-size-size-xxlarge);
    border-color: var(--dl-color-primary-700);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    background-color: #d9d9d9;
    border-top-left-radius: var(--dl-radius-radius-radius6);
    border-top-right-radius: var(--dl-radius-radius-radius6);
    border-bottom-left-radius: var(--dl-radius-radius-radius6);
    border-bottom-right-radius: var(--dl-radius-radius-radius6);
  }
  .user-home-video-info-container {
    height: auto;
    align-self: stretch;
    margin-top: 2px;
    border-color: var(--dl-color-primary-700);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    justify-content: flex-start;
    background-color: #d9d9d9;
  }

  .user-home-video-thumbnail {
    width: 100%;
    height: 100%;
    //padding: var(--dl-space-space-halfunit);
  }

  .user-home-channel-logo {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    padding: var(--dl-space-space-halfunit);
    border-radius: 30%;
  }
  .user-home-vid-info-panel {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .user-home-video-title-container {
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: flex-start;
  }
  .user-home-text {
    color: var(--dl-color-accent-900);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .user-home-channel-info-views-howold-container {
    height: 50px;
    padding: var(--dl-space-space-halfunit);
    align-items: flex-start;
  }
  .user-home-text1 {
    color: var(--dl-color-accent-900);
  }
  .user-home-col-mob-view-only {
    display: none;
  }
}
