.mat-card-title {
  color: var(--primary-color);
}

mat-card > mat-form-field {
  width: 500px;
}

@media (min-width: 599px) {
  mat-card > mat-form-field {
    width: 500px;
  }
}

@media (max-width: 599px) {
  mat-card > mat-form-field {
    width: 350px;
  }
}

.push-right {
  margin-left: auto;
}

.spinner::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.2em solid #ffffff;
  border-top-color: var(--primary-color);
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
