<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row">
    <div fxFlex="80" style="flex: 0 0 80%; min-width: 80%"></div>
    <div
      fxFlexOffset="auto"
      fxFlex="20"
      fxLayoutAlign="flex-start"
      style="flex: 0 0 20%; max-width: 20%"
    >
      <button
        mat-stroked-button
        color="primary"
        matTooltip="Back"
        aria-label="Back"
        (click)="goBack()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="back to list"
          fontIcon="arrow_back_ios"
        ></mat-icon>
      </button>
    </div>
  </div>

  <div
    *ngIf="_video !== null; else noVidToPlay"
    fxLayout="row"
    fxLayoutAlign="center"
  >
    <video
      #videoPlayer
      id="vidElement"
      class="video-js vjs-default-skin videoLayout"
      preload="none"
      controls
      data-setup='{ "aspectRatio":"800:600", "playbackRates": [1, 1.5, 2] }'
    >
      <source src="{{ _video.url }}" type="video/mp4" />
    </video>
  </div>
  <div *ngIf="_video !== null" fxLayout="row" fxLayoutAlign="center">
    <mat-toolbar fxLayoutGap="2px">
      <button
        mat-icon-button
        color="primary"
        aria-label="like"
        (click)="expressLike()"
      >
        <mat-icon>{{ _thumbup }}</mat-icon>
      </button>
      <span style="color: var(--accent-color)">
        <small>{{ _totalLikes && _totalLikes > 0 ? _totalLikes : "" }}</small>
      </span>
      <span
        [ngClass]="{
          separatorWithValues: _totalLikes && _totalLikes > 0,
          separatorWithOutValues: _totalLikes === 0
        }"
        >|</span
      >
      <button
        mat-icon-button
        color="primary"
        aria-label="dislike"
        (click)="expressDisLike()"
      >
        <mat-icon>{{ _thumbdown }}</mat-icon>
      </button>
      <span style="color: var(--accent-color)">
        <small>{{
          _totalDislikes && _totalDislikes > 0 ? _totalDislikes : ""
        }}</small>
      </span>
      <button
        mat-icon-button
        color="primary"
        aria-label="share"
        [disabled]="true"
        (click)="shareVideo()"
      >
        <mat-icon>share</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        [disabled]="true"
        aria-label="report"
        (click)="reportVideo()"
      >
        <mat-icon>flag</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div *ngIf="_video !== null" fxLayout="row wrap" fxLayoutAlign="center">
    <div
      fxFlex="90%"
      fxLayoutAlign="flex-start"
      style="flex: 0 0 80%; min-width: 80%"
    >
      <span
        ><strong>{{ _video.title }}</strong></span
      >
    </div>

    <div
      fxFlex="90%"
      fxLayoutAlign="flex-start"
      style="flex: 0 0 90%; min-width: 90%"
    >
      <span>
        <strong><small>Channel:</small></strong> {{ _video.channelName }}
      </span>
    </div>

    <div
      fxFlex="90%"
      fxLayoutAlign="flex-start"
      class="description"
      style="flex: 0 0 90%; min-width: 90%"
    >
      <span>{{ _video.description }}</span>
    </div>
  </div>
</div>

<ng-template #noVidToPlay>
  <div fxLayout="column" fxLayoutAlign="center center">No Video to Play</div>
</ng-template>
