.videoLayout {
  width: 95%;
}

.description {
  background-color: #fff5e6; /* very light orange color */
  border-radius: 10px; /* rounded edges */
  padding-left: 10px; /* add some padding for spacing */
  padding-right: 10px;
}

.description span {
  padding: 10px;
  justify-content: center;
}
