<div class="register-video-validator-container">
  <div class="register-video-validator-col-mob-view-only">
    <div class="register-video-validator-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="register-video-validator-main-page-column">
    <div class="Content-3 page-Title-Header">
      <label>Register - Video Validation</label>
    </div>
    <div class="register-video-validator-registeration-message">
      <label class="register-video-validator-text01">
        <span>
          You have the opportunity to actively participate in the video
          validation process, playing a crucial role in ensuring that only
          videos of high ethical standards, exceptional quality, and valuable
          content are published on the StreamVault application.
        </span>
        <br class="register-video-validator-text03" />
        <br />
        <span>
          For every video you validate, you will be rewarded with Pi, with each
          validation earning you an elegant range of 0.01 to 0.02 Pi.
        </span>
      </label>
    </div>
    <div class="register-video-validator-name-row">
      <label class="register-video-validator-text06">Name</label>
      <label class="register-video-validator-text07">Name</label>
    </div>
    <div class="register-video-validator-city-row">
      <label class="register-video-validator-text08">City</label>
      <label class="register-video-validator-text09">City</label>
    </div>
    <div class="register-video-validator-country-row">
      <label class="register-video-validator-text10">Country</label>
      <label class="register-video-validator-text11">Country</label>
    </div>
    <div class="register-video-validator-age-row">
      <label class="register-video-validator-text12">
        I am 18 years old or above
      </label>
      <input type="checkbox" checked="true" />
    </div>
    <div class="register-video-validator-age-row1">
      <label class="register-video-validator-text13">Language</label>
      <select id="lstLanguage">
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
      </select>
    </div>
    <div class="register-video-validator-agreee-row">
      <label class="register-video-validator-text14">
        I have read, understand and agree with video validation rules. Read...
      </label>
      <input type="checkbox" checked="true" />
    </div>
    <div class="register-video-validator-coins-stake-agreee-row">
      <label class="register-video-validator-text15">
        To become a validator, it is necessary to deposit 20 Pi coins
        (refundable). This deposit grants you the opportunity to actively
        participate in the validation process. If you decide to deregister as a
        validator, you will be able to retrieve and unstake the 20 coins. I
        understand and agree!
      </label>
      <input type="checkbox" checked="true" />
    </div>
    <div class="register-video-validator-buttons-row">
      <button class="button register-video-validator-button">Register</button>
    </div>
  </div>
</div>
