:host {
  display: contents;
}
.new-video-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.new-video-main-column {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-video-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-video-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-video-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-video-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-video-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-video-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-video-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-video-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-video-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-video-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.new-video-button {
  width: 376px;
  height: var(--dl-size-size-small);
}
@media (max-width: 479px) {
  .new-video-main-column {
    flex: 1;
    width: 100%;
    height: 100%;
    border-width: 0px;
    background-image: linear-gradient(
      135deg,
      rgb(189, 195, 199) 0%,
      rgb(219, 147, 137) 100%
    );
  }
  .new-video-container01 {
    height: var(--dl-size-size-small);
    border-color: var(--dl-color-accent-900);
    border-width: 0px;
    background-color: var(--dl-color-accent-900);
  }
  .new-video-container02 {
    height: var(--dl-size-size-small);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .new-video-text1 {
    color: var(--dl-color-accent-900);
  }
  .new-video-container03 {
    height: var(--dl-size-size-small);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .new-video-text2 {
    color: var(--dl-color-accent-900);
  }
  .new-video-container04 {
    height: var(--dl-size-size-small);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .new-video-text3 {
    color: var(--dl-color-accent-900);
  }
  .new-video-container05 {
    height: var(--dl-size-size-small);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .new-video-text4 {
    color: var(--dl-color-accent-900);
  }
  .new-video-container06 {
    height: var(--dl-size-size-small);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .new-video-text5 {
    color: var(--dl-color-accent-900);
  }
  .new-video-container07 {
    height: var(--dl-size-size-small);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .new-video-text6 {
    color: var(--dl-color-accent-900);
  }
  .new-video-container08 {
    height: var(--dl-size-size-small);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .new-video-text7 {
    color: var(--dl-color-accent-900);
  }
  .new-video-container09 {
    height: var(--dl-size-size-small);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .new-video-text8 {
    color: var(--dl-color-accent-900);
  }
  .new-video-container10 {
    justify-content: center;
  }
  .new-video-button {
    width: 80%;
    height: var(--dl-size-size-small);
  }
}
