<div class="new-video-container">
  <div class="new-video-main-column">
    <div class="mat-title page-Title-Header">
      <label>New Video</label>
    </div>
    <div class="new-video-container02">
      <label class="new-video-text1">Channel</label>
    </div>
    <div class="new-video-container03">
      <label class="new-video-text2">Thumbnail</label>
    </div>
    <div class="new-video-container04">
      <label class="new-video-text3">Title</label>
    </div>
    <div class="new-video-container05">
      <label class="new-video-text4">Description</label>
    </div>
    <div class="new-video-container06">
      <label class="new-video-text5">Audience</label>
    </div>
    <div class="new-video-container07">
      <label class="new-video-text6">Location</label>
    </div>
    <div class="new-video-container08">
      <label class="new-video-text7">Visibility</label>
    </div>
    <div class="new-video-container09">
      <label class="new-video-text8">Comments</label>
    </div>
    <div class="new-video-container10">
      <button mat-raised-button color="accent" class="button new-video-button">
        Upload
      </button>
    </div>
  </div>
</div>
