<div class="confirmation-un-register-container">
  <div class="confirmation-un-register-col-mob-view-only">
    <div class="confirmation-un-register-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="confirmation-un-register-main-page-column">
    <div class="Content-2 page-Title-Header">
      <label>UnRegistered - Validator</label>
    </div>
    <div class="confirmation-un-register-registeration-message">
      <p class="Content-2 confirmation-un-register-text1">
        <span>
          Your validator registration has been successfully cancelled.
        </span>
        <br class="confirmation-un-register-text3" />
      </p>
    </div>
  </div>
</div>
