<div class="confirmation-vid-validator-withdrawl-container">
  <div class="confirmation-vid-validator-withdrawl-col-mob-view-only">
    <div class="confirmation-vid-validator-withdrawl-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="confirmation-vid-validator-withdrawl-main-page-column">
    <div
      class="confirmation-vid-validator-withdrawl-register-validation-withdrawl-header"
    >
      <label>UnRegistered - Video Validator</label>
    </div>
    <div class="confirmation-vid-validator-withdrawl-registeration-message">
      <p class="confirmation-vid-validator-withdrawl-text1">
        <span>
          Your validator registration has been successfully cancelled.
        </span>
        <br class="confirmation-vid-validator-withdrawl-text3" />
      </p>
    </div>
  </div>
</div>

