.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: var(--dl-space-space-halfunit);
}

.menu a {
  display: block;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  color: var(--dl-color-accent-100);
}

/* Media query for mobile view */
@media (max-width: 479px) {
  .menu {
    align-items: left;
    padding: var(--dl-space-space-halfunit);
    font-size: larger;
    font-weight: 400;
    width: 60vw;
  }

  .menu a {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    letter-spacing: 1px;
    border-color: var(--dl-color-primary-500);
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .social-icons a {
    display: inline-block;
    color: var(--dl-color-accent-100);
    border-bottom-style: none;
  }
}
