<!-- <div class="app-toolbar">
  <mat-toolbar fxLayoutGap="8px">
    <a mat-icon-button routerLink="/index">
      <mat-icon
        svgIcon="streamvault"
        style="width: 40px; height: 40px"
      ></mat-icon>
      <span fxHide fxShow.gt-sm class="mat-h1 textColorBrand"
        >&nbsp;StreamVault</span
      >
    </a>

    <button
      mat-stroked-button
      color="primary"
      *ngIf="_isHomeRoute"
      class="push-right"
      routerLink="/list"
      matTooltip="Stream"
      aria-label="Video Stream"
    >
      Stream
    </button>

    <div *ngIf="!_isHomeRoute && isAuthenticated" class="push-right">
      <span
        [ngStyle]="{ color: 'var(--primary-color)' }"
        style="padding-right: 3px; font-size: medium"
        >{{ _existingAppMode }}</span
      >
      <mat-slide-toggle [color]="'primary'" (change)="onToggleChange($event)">
      </mat-slide-toggle>
    </div>

    <button
      *ngIf="isAuthenticated"
      class="toolbarButton"
      mat-fab
      color="primary"
      routerLink="/profile"
      matTooltip="Profile"
      aria-label="User Profile"
    >
      <mat-icon style="margin-top: -7px">account_circle</mat-icon>
    </button>

    <button
      *ngIf="isAuthenticated"
      class="toolbarButton"
      mat-fab
      color="primary"
      matTooltip="Logout"
      aria-label="Logout"
      (click)="signOut()"
    >
      <mat-icon style="margin-top: -7px">logout</mat-icon>
    </button>

    <button
      mat-stroked-button
      [ngClass]="{ spinner: isBusy }"
      color="primary"
      *ngIf="!isAuthenticated"
      (click)="connect()"
      matTooltip="Connect with Pi Network"
      [class.push-right]="!_isHomeRoute && !isAuthenticated"
      aria-label="Connect"
    >
      Connect
    </button>
  </mat-toolbar>
</div>
<div class="separator"></div>-->
<app-notification style="display: none"></app-notification>
<router-outlet></router-outlet>
