<div class="privacy-policy-container">
  <div class="privacy-policy-main-column">
    <div class="privacy-policy-content-column">
      <div class="privacy-policy-close-button-container">
        <button
          type="button"
          class="button mat-body-1 privacy-policy-close-button"
          (click)="closeDialog()"
        >
          Close
        </button>
      </div>
      <span class="privacy-policy-text Heading-4">Privacy Policy</span>
      <span class="privacy-policy-text01 Heading-5">
        Personal Information We Collect
      </span>
      <p class="privacy-policy-text02 Content-2">
        When you use StreamVault, we may collect the following types of personal
        information:
      </p>
      <ul class="privacy-policy-lst1 list">
        <li class="privacy-policy-li Content-2">
          <span class="privacy-policy-text03">
            Contact information, such as your name and email address.
          </span>
        </li>
        <li class="privacy-policy-li01 Content-2">
          <span class="privacy-policy-text04">
            Payment information, such as your credit card or other payment
            details.
          </span>
        </li>
        <li class="privacy-policy-li02 Content-2">
          <span class="privacy-policy-text05">
            <span>
              Usage information, such as your IP address, browser type, and
              device
            </span>
            <span> information.</span>
          </span>
        </li>
        <li class="privacy-policy-li03 Content-2">
          <span class="privacy-policy-text08">
            Other information you provide to us, such as your preferences or
            feedback.
          </span>
        </li>
      </ul>
      <span class="privacy-policy-heading Heading-5">
        How We Share Your Personal Information
      </span>
      <p class="privacy-policy-text09 Content-2">
        We may share your personal information with the following types of third
        parties:
      </p>
      <ul class="privacy-policy-lst2 list">
        <li class="privacy-policy-li04 Content-2">
          <span class="privacy-policy-text10 Content">
            Service providers who help us provide and improve our services.
          </span>
        </li>
        <li class="privacy-policy-li05 Content-2">
          <span class="Content privacy-policy-text11">
            <span class="privacy-policy-text12">
              Law enforcement or other government authorities, as required by
              law or to 
            </span>
            <span class="privacy-policy-text13">protect our legal rights.</span>
          </span>
        </li>
        <li class="privacy-policy-li06 Content-2">
          <span class="privacy-policy-text14 Content">
            Payment processors who process your payments.
          </span>
        </li>
      </ul>
      <span class="privacy-policy-heading1 Heading-5"
        >Your Choices and Rights</span
      >
      <p class="privacy-policy-text15 Content-2">
        You have the following choices and rights regarding your personal
        information:
      </p>
      <ul class="privacy-policy-lst3 list">
        <li class="privacy-policy-li07 Content-2">
          <span class="privacy-policy-text16 Content">
            You can review and update your personal information by logging into
            your account.
          </span>
        </li>
        <li class="privacy-policy-li08 Content-2">
          <span class="Content privacy-policy-text17">
            You can opt out of receiving promotional emails from us by following
            the instructions in the emails.
          </span>
        </li>
        <li class="privacy-policy-li09 Content-2">
          <span class="Content privacy-policy-text18">
            You can request to delete your personal information by contacting us
            at the email mentioned below at the bottom of this page.
          </span>
        </li>
        <li class="privacy-policy-li10 Content-2">
          <span class="privacy-policy-text19 Content">
            You may have additional rights under applicable laws, such as the
            right to access, correct, or object to the processing of your
            personal information.
          </span>
        </li>
        <li class="privacy-policy-li11 Content-2">
          <span class="privacy-policy-text20">
            Other information you provide to us, such as your preferences or
            feedback.
          </span>
        </li>
      </ul>
      <span class="privacy-policy-heading2 Heading-5">
        Data Security and Retention
      </span>
      <p class="privacy-policy-text21 Content-2">
        We take reasonable measures to protect your personal information from
        unauthorized access and disclosure. We retain your personal information
        for as long as necessary to provide our services and comply with legal
        and regulatory requirements.
      </p>
      <span class="privacy-policy-heading3 Heading-5">
        Changes to this Privacy Policy
      </span>
      <p class="privacy-policy-text22 Content-2">
        We may update this privacy policy from time to time. If we make any
        material changes, we will notify you by email or by posting a notice on
        our website.
      </p>
      <span class="privacy-policy-heading4 Heading-5">Contact Us</span>
      <p class="privacy-policy-text23 Content-2">
        If you have any questions or concerns about this privacy policy or our
        privacy practices, please contact us at:
      </p>
      <a
        href="https://mailto:streamvault.pi@gmail.com"
        target="_blank"
        rel="noreferrer noopener"
        class="privacy-policy-link Content-2"
      >
        streamvault.pi@gmail.com
      </a>
      <div class="privacy-policy-close-button-container">
        <button
          type="button"
          class="button mat-body-1 privacy-policy-close-button"
          (click)="closeDialog()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
