.app-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--dl-color-accent-900);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  z-index: 100;
}

.app-bar button {
  border-radius: 50%;
  //background-color: var(--dl-color-accent-900);
}

.button-selected {
  color: var(--dl-color-primary-500);
}
