<div class="app-bar">
  <button mat-icon-button aria-label="home" (click)="goHome()">
    <i
      class="fa-solid fa-house"
      [ngClass]="{ 'button-selected': isActiveButton('home') }"
    ></i>
  </button>

  <button mat-icon-button aria-label="create video" (click)="goCreate()">
    <i
      class="fa-solid fa-video"
      [ngClass]="{ 'button-selected': isActiveButton('create') }"
    ></i>
    <!-- <mat-icon>add_box</mat-icon> -->
  </button>
  <button mat-icon-button aria-label="my profile" (click)="goProfile()">
    <i
      class="fa-solid fa-user"
      [ngClass]="{ 'button-selected': isActiveButton('profile') }"
    ></i>
  </button>
  <button mat-icon-button aria-label="menu" (click)="toggleSideNav()">
    <i
      class="fa-solid fa-bars"
      [ngClass]="{ 'button-selected': isActiveButton('menu') }"
    ></i>
  </button>
</div>
