<div class="validate-video-container">
  <div class="validate-video-col-mob-view-only">
    <div class="validate-video-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="validate-video-main-page-column">
    <div class="validate-video-validate-vid-header">
      <label>Validate Video</label>
    </div>
    <div class="validate-video-vid-clip-row"></div>
    <div class="validate-video-checklist-row">
      <div class="validate-video-container01">
        <div class="validate-video-container02">
          <span class="validate-video-text">
            Only video content that successfully fulfills all the following
            checks will be eligible for publication.
          </span>
        </div>
        <div class="validate-video-container03">
          <span class="validate-video-text01">Select All</span>
          <input
            type="checkbox"
            checked="true"
            class="validate-video-checkbox"
          />
        </div>
      </div>
      <div class="validate-video-container04">
        <span class="validate-video-text02">Genuine and truthful content</span>
        <input type="checkbox" checked="true" />
      </div>
      <div class="validate-video-container05">
        <span class="validate-video-text03">No explicit or adult content</span>
        <input type="checkbox" checked="true" />
      </div>
      <div class="validate-video-container06">
        <span class="validate-video-text04">
          Respectful language and behavior
        </span>
        <input type="checkbox" checked="true" />
      </div>
      <div class="validate-video-container07">
        <span class="validate-video-text05">
          No hate speech or discrimination
        </span>
        <input type="checkbox" checked="true" />
      </div>
      <div class="validate-video-container08">
        <span class="validate-video-text06">
          No graphic or disturbing content
        </span>
        <input type="checkbox" checked="true" />
      </div>
      <div class="validate-video-container09">
        <span class="validate-video-text07">Intellectual property rights</span>
        <input type="checkbox" checked="true" />
      </div>
      <div class="validate-video-container10">
        <span class="validate-video-text08">
          Age-appropriate content
          <span></span>
        </span>
        <input type="checkbox" checked="true" />
      </div>
      <div class="validate-video-container11">
        <span class="validate-video-text09">
          No bullying or harassment
          <span></span>
        </span>
        <input type="checkbox" checked="true" />
      </div>
    </div>
    <div class="validate-video-buttons-row">
      <button class="button">Validate</button>
      <button class="button validate-video-button1">Cancel</button>
    </div>
  </div>
</div>
