<div class="validating-videos-list-container">
  <div class="validating-videos-list-col-mob-view-only">
    <div class="validating-videos-list-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="validating-videos-list-main-page-column">
    <div class="validating-videos-list-publish-approval-header">
      <label>Validate these videos</label>
    </div>
    <div class="validating-videos-list-container1">
      <label class="validating-videos-list-video-title">
        Video Title - laskdjfl sdjflksd flksdfj lksadjf laskdjf lkds
      </label>
      <div class="validating-videos-list-validation-button-row">
        <button class="button validating-videos-list-button">Validate</button>
        <button class="button validating-videos-list-button1">Ignore</button>
      </div>
    </div>
    <div class="validating-videos-list-container2">
      <label class="validating-videos-list-video-title1">
        Video Title - laskdjfl sdjflksd flksdfj lksadjf laskdjf lkds
      </label>
      <div class="validating-videos-list-validation-button-row1">
        <button class="button validating-videos-list-button2">Validate</button>
        <button class="button validating-videos-list-button3">Ignore</button>
      </div>
    </div>
    <div class="validating-videos-list-container3">
      <label class="validating-videos-list-video-title2">
        Video Title - laskdjfl sdjflksd flksdfj lksadjf laskdjf lkds
      </label>
      <div class="validating-videos-list-validation-button-row2">
        <button class="button validating-videos-list-button4">Validate</button>
        <button class="button validating-videos-list-button5">Ignore</button>
      </div>
    </div>
    <div class="validating-videos-list-container4">
      <label class="validating-videos-list-video-title3">
        Video Title - laskdjfl sdjflksd flksdfj lksadjf laskdjf lkds
      </label>
      <div class="validating-videos-list-validation-button-row3">
        <button class="button validating-videos-list-button6">Validate</button>
        <button class="button validating-videos-list-button7">Ignore</button>
      </div>
    </div>
    <div class="validating-videos-list-no-vids-to-validate-row">
      <label class="validating-videos-list-no-vidz-message">
        No Videos found to be validated!
      </label>
    </div>
  </div>
</div>
