<div class="validating-videos-list-container">
  <div class="validating-videos-list-col-mob-view-only">
    <div class="validating-videos-list-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="validating-videos-list-main-page-column">
    <div class="Content-3 page-Title-Header">
      <label>Validate ...</label>
    </div>
    <div class="validating-videos-list-container1">
      <label class="validating-videos-list-video-title">
        Video Title - laskdjfl sdjflksd flksdfj lksadjf laskdjf lkds
      </label>
      <div class="validating-videos-list-validation-buttons-row">
        <button
          mat-raised-button
          color="accent"
          class="button validate-video-button-Validate Content-1"
        >
          Validate
        </button>
        <button
          mat-raised-button
          color="accent"
          class="button validate-video-button-Ignore Content-1"
        >
          Ignore
        </button>
      </div>
    </div>
    <div class="validating-videos-list-no-vids-to-validate-row">
      <label class="validating-videos-list-no-vidz-message">
        No Videos found to be validated!
      </label>
    </div>
  </div>
</div>
