<div
  class="membership-options-free-row"
  [ngClass]="{ active: isFreeOptionActive }"
  (touchstart)="setOptionActive('f', true)"
>
  <span class="membership-options-text">
    <span class="membership-options-text01"> #1: Free </span>
    <br class="Content" />
    <br class="membership-options-text03" />
    <span class="Content-2 membership-options-text04">
      You can try all the features except the withdrawl of your earned coins,
      upload of any video content, place any business advertisement and becoming
      content validator.
    </span>
  </span>
</div>
<div
  class="membership-options-monthly-row"
  [ngClass]="{ active: isMonthlyOptionActive }"
  (touchstart)="setOptionActive('m', true)"
>
  <span class="membership-options-text05">
    <span class="membership-options-text06"> #2: Monthly</span>
    <br class="Content" />
    <br class="membership-options-text08" />
    <span class="Content-2 membership-options-text09">
      For only 9 Pi per month, you&apos;ll enjoy unlimited access to our
      exclusive membership benefits. Dive into our vast collection of resources,
      connect with like-minded individuals, and unlock exciting features.
    </span>
  </span>
</div>

<div
  class="membership-options-yearly-row"
  [ngClass]="{ active: isYearlyOptionActive }"
  (touchstart)="setOptionActive('y', true)"
>
  <span class="membership-options-text10">
    <span class="membership-options-text11"> #3: Yearly</span>
    <br class="membership-options-text12" />
    <br class="Field-Label membership-options-text13" />
    <span class="Content-2 membership-options-text14">
      For a discounted rate of 95 Pi per year, you can take full advantage of
      our membership benefits for a whole year. With this option, you not only
      save money but also gain uninterrupted access to all our premium features,
      including exclusive content, staking and earning coins, validating
      content, member events, and much more. Make a commitment to your growth
      and make the most of our platform for the entire year.
    </span>
  </span>
</div>
