.membership-options-free-row {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.membership-options-text {
  color: var(--dl-color-accent-900);
  margin-left: auto;
  margin-right: auto;
}
.membership-options-text01 {
  margin-left: auto;
  margin-right: auto;
}
.membership-options-text04 {
  margin-left: auto;
  margin-right: auto;
}
.membership-options-monthly-row {
  flex: 0 0 auto;
  width: 80%;
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.membership-options-text05 {
  color: var(--dl-color-accent-900);
  margin-left: auto;
  margin-right: auto;
}
.membership-options-text06 {
  margin-left: auto;
  margin-right: auto;
}
.membership-options-text09 {
  margin-left: auto;
  margin-right: auto;
}
.membership-options-yearly-row {
  flex: 0 0 auto;
  width: 80%;
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.membership-options-text10 {
  color: var(--dl-color-accent-900);
  margin-left: auto;
  margin-right: auto;
}
.membership-options-text11 {
  margin-left: auto;
  margin-right: auto;
}
.membership-options-text14 {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  .membership-options-free-row {
    height: 72px;
    align-items: center;
    justify-content: center;
  }
  .membership-options-text01 {
    color: var(--dl-color-accent-900);
    margin: auto;
    align-self: center;
  }
  .membership-options-text03 {
    color: var(--dl-color-accent-900);
    margin: auto;
    align-self: center;
  }
  .membership-options-text04 {
    color: var(--dl-color-accent-900);
    margin: auto;
    align-self: center;
  }
  .membership-options-monthly-row {
    height: 72px;
    align-items: center;
    justify-content: center;
  }
  .membership-options-text06 {
    color: var(--dl-color-accent-900);
    margin: auto;
    align-self: center;
  }
  .membership-options-text08 {
    color: var(--dl-color-accent-900);
    margin: auto;
    align-self: center;
  }
  .membership-options-text09 {
    color: var(--dl-color-accent-900);
    margin: auto;
    align-self: center;
  }
  .membership-options-yearly-row {
    height: 72px;
    align-items: center;
    justify-content: center;
  }
  .membership-options-text10 {
    color: var(--dl-color-accent-900);
    margin: auto;
    align-self: center;
  }
  .membership-options-text11 {
    color: var(--dl-color-accent-900);
    margin: auto;
    align-self: center;
  }
  .membership-options-text13 {
    color: var(--dl-color-accent-900);
    margin: auto;
    align-self: center;
  }
  .membership-options-text14 {
    color: var(--dl-color-accent-900);
    margin: auto;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .membership-options-free-row {
    height: var(--dl-size-size-medium-1);
    position: relative;
  }
  .membership-options-text01 {
    color: var(--dl-color-accent-900);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .membership-options-text03 {
    color: var(--dl-color-accent-900);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .membership-options-text04 {
    color: var(--dl-color-accent-900);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .membership-options-monthly-row {
    height: var(--dl-size-size-medium-1);
    position: relative;
  }
  .membership-options-text06 {
    color: var(--dl-color-accent-900);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .membership-options-text08 {
    color: var(--dl-color-accent-900);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .membership-options-text09 {
    color: var(--dl-color-accent-900);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .membership-options-yearly-row {
    height: var(--dl-size-size-medium-1);
    position: relative;
  }
  .membership-options-text10 {
    color: var(--dl-color-accent-900);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .membership-options-text11 {
    color: var(--dl-color-accent-900);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .membership-options-text13 {
    color: var(--dl-color-accent-900);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .membership-options-text14 {
    color: var(--dl-color-accent-900);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 479px) {
  .membership-options-free-row {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-unit);
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    border-color: var(--dl-color-primary-700);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    margin-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }

  .membership-options-text {
    color: var(--dl-color-accent-900);
    text-align: justify;
    font-family: Montserrat;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
  .membership-options-text01 {
    font-weight: 700;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .membership-options-text03 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .membership-options-text04 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .membership-options-monthly-row {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-unit);
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    border-color: var(--dl-color-primary-700);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    margin-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .membership-options-text05 {
    color: var(--dl-color-accent-900);
    text-align: justify;
    font-family: Montserrat;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
  .membership-options-text06 {
    font-weight: 700;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .membership-options-text08 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .membership-options-text09 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .membership-options-yearly-row {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-primary-700);
    border-width: 1px;
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius6);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .membership-options-text10 {
    color: var(--dl-color-accent-900);
    margin-top: 0px;
    text-align: justify;
    line-height: 1.5;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .membership-options-text11 {
    font-weight: 700;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .membership-options-text12 {
    color: var(--dl-color-accent-900);
  }
  .membership-options-text13 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .membership-options-text14 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .active {
    border: 3px solid var(--dl-color-primary-700) !important;
    background-color: var(--dl-color-primary-100) !important;
    transition: border-color 0.3s ease-in-out;
  }
}
