:host {
  display: contents;
}
.terms-of-service-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-accent-100);
}

.terms-of-service-main-column {
  flex: 0 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-primary-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(
    135deg,
    rgb(189, 195, 199) 0%,
    rgb(219, 147, 137) 100%
  );
}
.terms-of-service-content-column {
  flex: 1;
  width: 95%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-twounits);
  align-items: stretch;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius6);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  border-top-left-radius: var(--dl-radius-radius-radius6);
  border-top-right-radius: var(--dl-radius-radius-radius6);
  border-bottom-left-radius: var(--dl-radius-radius-radius6);
  border-bottom-right-radius: var(--dl-radius-radius-radius6);
}

.terms-of-service-close-button-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.terms-of-service-text {
  color: var(--dl-color-accent-900);
  width: 100%;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.terms-of-service-text01 {
  color: var(--dl-color-accent-900);
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.terms-of-service-text02 {
  color: var(--dl-color-accent-900);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.terms-of-service-lst1 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  list-style-type: disc;
}
.terms-of-service-li {
  color: var(--dl-color-accent-900);
}
.terms-of-service-li01 {
  color: var(--dl-color-accent-900);
  list-style-position: outside;
}
.terms-of-service-li02 {
  color: var(--dl-color-accent-900);
}
.terms-of-service-li03 {
  color: var(--dl-color-accent-900);
}
.terms-of-service-heading {
  color: var(--dl-color-accent-900);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.terms-of-service-text09 {
  color: var(--dl-color-accent-900);
  padding: var(--dl-space-space-halfunit);
}
.terms-of-service-lst2 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  list-style-type: disc;
  list-style-position: outside;
}
.terms-of-service-li04 {
  color: var(--dl-color-accent-900);
  list-style-type: disc;
  list-style-position: outside;
}
.terms-of-service-text10 {
  color: var(--dl-color-accent-900);
}
.terms-of-service-li05 {
  color: var(--dl-color-accent-900);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.terms-of-service-li06 {
  color: var(--dl-color-accent-900);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.terms-of-service-text14 {
  color: var(--dl-color-accent-900);
}
.terms-of-service-heading1 {
  color: var(--dl-color-accent-900);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.terms-of-service-text15 {
  color: var(--dl-color-accent-900);
  padding: var(--dl-space-space-halfunit);
}
.terms-of-service-lst3 {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.terms-of-service-li07 {
  color: var(--dl-color-accent-900);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.terms-of-service-text16 {
  color: var(--dl-color-accent-900);
}
.terms-of-service-li08 {
  color: var(--dl-color-accent-900);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.terms-of-service-li09 {
  color: var(--dl-color-accent-900);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.terms-of-service-li10 {
  color: var(--dl-color-accent-900);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.terms-of-service-text19 {
  color: var(--dl-color-accent-900);
}
.terms-of-service-li11 {
  color: var(--dl-color-accent-900);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.terms-of-service-heading2 {
  color: var(--dl-color-accent-900);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.terms-of-service-text21 {
  color: var(--dl-color-accent-900);
  padding: var(--dl-space-space-halfunit);
}
.terms-of-service-heading3 {
  color: var(--dl-color-accent-900);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.terms-of-service-text22 {
  color: var(--dl-color-accent-900);
  padding: var(--dl-space-space-halfunit);
}
.terms-of-service-heading4 {
  color: var(--dl-color-accent-900);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.terms-of-service-text23 {
  color: var(--dl-color-accent-900);
  padding: var(--dl-space-space-halfunit);
}
.terms-of-service-link {
  color: var(--dl-color-accent-900);
  font-style: normal;
}
@media (max-width: 991px) {
  .terms-of-service-main-column {
    width: 60%;
    align-items: center;
    border-color: var(--dl-color-primary-900);
    border-width: 1px;
  }
  .terms-of-service-content-column {
    width: 90%;
    height: 90%;
    border-width: 0px;
  }
  .terms-of-service-text {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-lst3 {
    padding-right: var(--dl-space-space-unit);
  }
}
@media (max-width: 767px) {
  .terms-of-service-main-column {
    align-items: center;
  }
  .terms-of-service-content-column {
    width: 90%;
    height: 90%;
    border-width: 0px;
  }
  .terms-of-service-text {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-lst2 {
    list-style-type: disc;
    list-style-image: none;
  }
  .terms-of-service-text10 {
    text-align: justify;
  }
  .terms-of-service-text11 {
    color: var(--dl-color-accent-900);
    text-align: justify;
  }
  .terms-of-service-text14 {
    text-align: justify;
  }
  .terms-of-service-lst3 {
    list-style-type: disc;
  }
  .terms-of-service-text16 {
    text-align: justify;
  }
  .terms-of-service-link {
    font-style: normal;
    font-weight: 700;
  }
}
@media (max-width: 479px) {
  .terms-of-service-main-column {
    width: 100%;
    height: 100%;
    align-items: center;
    border-width: 0px;
    justify-content: flex-start;
    background-image: linear-gradient(
      135deg,
      rgb(189, 195, 199) 0%,
      rgb(219, 147, 137) 100%
    );
    padding-bottom: var(--dl-size-size-small);
  }

  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: red !important;
  }

  .terms-of-service-content-column {
    width: 90%;
    height: 90%;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    border-color: var(--dl-color-primary-700);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
  }

  .terms-of-service-close-button-container {
    height: var(--dl-size-size-small);
    justify-content: flex-end;
  }
  .terms-of-service-close-button {
    color: var(--dl-color-accent-100);
    height: var(--dl-size-size-xsmall);
    width: auto;
    background-color: var(--dl-color-accent-900);
    border-radius: var(--dl-radius-radius-radius6);
  }

  .terms-of-service-text {
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .terms-of-service-text01 {
    color: var(--dl-color-accent-900);
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text02 {
    text-align: justify;
  }
  .terms-of-service-lst1 {
    width: auto;
    margin: 0px;
    align-self: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    list-style-type: disc;
    list-style-position: outside;
  }
  .terms-of-service-li {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text03 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-li01 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text04 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-li02 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text05 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-li03 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text08 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-heading {
    color: var(--dl-color-accent-900);
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text09 {
    text-align: justify;
  }
  .terms-of-service-lst2 {
    width: auto;
    margin: 0px;
    align-self: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    list-style-type: disc;
  }
  .terms-of-service-li04 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text10 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-li05 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text11 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-text12 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-text13 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-li06 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text14 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-heading1 {
    color: var(--dl-color-accent-900);
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text15 {
    text-align: justify;
  }
  .terms-of-service-lst3 {
    width: auto;
    margin: 0px;
    align-self: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    list-style-type: disc;
  }
  .terms-of-service-li07 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text16 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-li08 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text17 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-li09 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text18 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-li10 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text19 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-li11 {
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-text20 {
    width: 100%;
    text-align: justify;
  }
  .terms-of-service-heading2 {
    color: var(--dl-color-accent-900);
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-heading3 {
    color: var(--dl-color-accent-900);
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-heading4 {
    color: var(--dl-color-accent-900);
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .terms-of-service-link {
    color: var(--dl-color-accent-900);
    font-size: 14px;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
}
