:host {
  display: contents;
}
.confirmation-vid-validator-registration-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.confirmation-vid-validator-registration-col-mob-view-only {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-accent-300);
}
.confirmation-vid-validator-registration-message-prompt-row {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.confirmation-vid-validator-registration-main-page-column {
  flex: 1;
  width: 60%;
  height: 100%;
  display: none;
  align-items: center;
  border-color: var(--dl-color-primary-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(
    135deg,
    rgb(189, 195, 199) 0%,
    rgb(219, 147, 137) 100%
  );
}

.confirmation-vid-validator-registration-registeration-message {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 991px) {
  .confirmation-vid-validator-registration-col-mob-view-only {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-accent-300);
  }
  .confirmation-vid-validator-registration-message-prompt-row {
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .confirmation-vid-validator-registration-main-page-column {
    width: 60%;
    border-color: var(--dl-color-primary-900);
    border-width: 1px;
  }
}
@media (max-width: 767px) {
  .confirmation-vid-validator-registration-col-mob-view-only {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-accent-300);
  }
  .confirmation-vid-validator-registration-message-prompt-row {
    width: 70%;
    align-items: center;
    justify-content: center;
  }
  .confirmation-vid-validator-registration-main-page-column {
    width: 80%;
    height: 100%;
  }
}
@media (max-width: 479px) {
  .confirmation-vid-validator-registration-col-mob-view-only {
    display: none;
  }
  .confirmation-vid-validator-registration-main-page-column {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    background-image: linear-gradient(
      135deg,
      rgb(189, 195, 199) 0%,
      rgb(219, 147, 137) 100%
    );
  }

  .confirmation-vid-validator-registration-registeration-message {
    height: auto;
    padding: var(--dl-space-space-twounits);
    flex-wrap: wrap;
  }
  .confirmation-vid-validator-registration-text1 {
    color: var(--dl-color-accent-900);
    width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    text-align: justify;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .confirmation-vid-validator-registration-text3 {
    color: var(--dl-color-accent-900);
  }
  .confirmation-vid-validator-registration-text4 {
    color: var(--dl-color-accent-900);
    margin-top: var(--dl-space-space-halfunit);
    text-align: justify;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .confirmation-vid-validator-registration-text5 {
    color: var(--dl-color-accent-900);
    margin-top: var(--dl-space-space-halfunit);
    text-align: justify;
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
