<div class="confirmation-vid-validator-registration-container">
  <div class="confirmation-vid-validator-registration-col-mob-view-only">
    <div class="confirmation-vid-validator-registration-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="confirmation-vid-validator-registration-main-page-column">
    <div
      class="confirmation-vid-validator-registration-register-validation-confirmation-header"
    >
      <label>You are registered as validator</label>
    </div>
    <div class="confirmation-vid-validator-registration-registeration-message">
      <p class="confirmation-vid-validator-registration-text1">
        <span>
          Congratulations! You have successfully been registered as a video
          validator.
        </span>
        <br class="confirmation-vid-validator-registration-text3" />
      </p>
      <p class="confirmation-vid-validator-registration-text4">
        Rest assured, you will receive prompt notifications whenever a video is
        queued for validation.
      </p>
      <p class="confirmation-vid-validator-registration-text5">
        To access and review videos marked for validation, simply navigate to
        the Main Menu and select the &quot;Validate Videos&quot; option.
      </p>
    </div>
  </div>
</div>
