<div *ngIf="logoInfo" class="Content-2 info-popup">
  <p>To set the channel banner image, please follow these guidelines:</p>
  <br />
  <ul>
    <li>Supported formats: JPEG, PNG</li>
    <li>Recommended dimensions: 2048 x 1152 pixels</li>
    <li>Maximum file size: 6MB or less</li>
  </ul>
  <br />

  <p>
    Please ensure that your image meets these requirements for the best display
    quality.
  </p>

  <p></p>
</div>

<div *ngIf="thumbInfo" class="Content-2 info-popup">
  <p>To set the channel thumbnail image, please follow these guidelines:</p>
  <br />
  <ul>
    <li>Supported formats: JPEG, PNG, GIF(no animation)</li>
    <li>Recommended dimensions: 100x100 pixels</li>
    <li>Maximum file size: 3MB</li>
  </ul>
  <br />

  <p>
    Please ensure that your image meets these requirements for the best display
    quality.
  </p>
</div>
