<div *ngIf="logoInfo" class="Content-1 info-popup">
  <p>To set the channel banner image, please follow these guidelines:</p>
  <br />
  <ul>
    <li>Supported formats: JPEG, PNG</li>
    <li>Recommended dimensions: 970 x 250 pixels</li>
    <li>Maximum file size: 5MB or less</li>
  </ul>
  <br />

  <p>
    Please ensure that your image meets these requirements for the best display
    quality.
  </p>

  <p></p>
</div>

<div *ngIf="profileInfo" class="Content-1 info-popup">
  <p>
    To set the profile picture for your channel, please follow these guidelines:
  </p>
  <br />
  <ul>
    <li>Supported formats: JPEG, PNG, GIF(no animation)</li>
    <li>Recommended dimensions: 200 x 200 pixels</li>
    <li>Maximum file size: 3MB</li>
  </ul>
  <br />

  <p>
    Please ensure that your image meets these requirements for the best display
    quality.
  </p>
</div>
