<div class="video-upload-details-container">
  <div class="video-upload-details-main-column">
    <div class="Content-3 page-Title-Header">
      <label>Add Details</label>
    </div>
    <div class="video-upload-details-main-content-row">
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="basicDetailsFormGroup">
          <form [formGroup]="basicDetailsFormGroup">
            <ng-template matStepLabel>Basic Details</ng-template>

            <mat-form-field class="mat-form-field-class">
              <mat-label>Title</mat-label>
              <input
                matInput
                aria-label="Video Title"
                placeholder="Video Title"
                formControlName="videoTitleCtrl"
                autocomplete="new-password"
                required
                #title
              />
              <mat-error
                [input]="title"
                fieldLabel="Video Title"
                [group]="basicDetailsFormGroup"
                [appFieldError]="ErrorSets['RequiredText']"
              >
              </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-form-field-class">
              <mat-label>Description</mat-label>
              <input
                matInput
                aria-label="Add description to your video"
                placeholder="Add Description"
                formControlName="descriptionCtrl"
                required
              />
            </mat-form-field>

            <mat-form-field class="mat-form-field-class">
              <mat-label>Language</mat-label>
              <input
                type="text"
                aria-label="Specify the Language used in video"
                placeholder="Language"
                matInput
                formControlName="languageCtrl"
                [matAutocomplete]="autoLangs"
                autocomplete="new-password"
                #lang
              />
              <mat-error
                [input]="lang"
                [group]="basicDetailsFormGroup"
                [appFieldError]="{
                  error: 'invalid',
                  message: 'Please select a valid language.'
                }"
              >
              </mat-error>
              <mat-autocomplete #autoLangs="matAutocomplete">
                <mat-option
                  class="auto-option-list"
                  *ngFor="let option of filteredLanguageOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div class="video-upload-containerCategory">
              <mat-form-field
                class="mat-form-field-class"
                appearance="fill"
                style="height: auto"
              >
                <mat-label>Categories</mat-label>
                <mat-chip-list #chipList aria-label="Category selection">
                  <mat-chip
                    *ngFor="let category of categories"
                    (removed)="remove(category)"
                  >
                    {{ category }}
                    <button matChipRemove>
                      <mat-icon style="color: red">cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    style="height: auto"
                    placeholder="New Category..."
                    #categoryInput
                    formControlName="categoryCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)"
                  />
                </mat-chip-list>
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="selected($event)"
                >
                  <mat-option
                    class="auto-option-list"
                    *ngFor="let category of filteredCategories | async"
                    [value]="category"
                  >
                    {{ category }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <mat-form-field class="mat-form-field-class">
              <mat-label>Location</mat-label>
              <input
                matInput
                aria-label="Specify location to which this video belongs to"
                placeholder="Your Location"
                formControlName="locationCtrl"
                [matAutocomplete]="autoLocations"
                autocomplete="new-password"
                (input)="onInputChange($event)"
                required
                #location
              />
              <mat-error
                [input]="location"
                [group]="basicDetailsFormGroup"
                [appFieldError]="{
                  error: 'invalid',
                  message: 'Please select location.'
                }"
              >
              </mat-error>
              <mat-autocomplete #autoLocations="matAutocomplete">
                <mat-option
                  class="auto-option-list"
                  *ngFor="let option of filteredLocationOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div class="video-upload-button-container">
              <button
                mat-raised-button
                type="button"
                color="accent"
                class="button Content-1 button-Next"
                [disabled]="basicDetailsFormGroup.invalid"
                (click)="prepareBasicDetails()"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thumbnailFormGroup">
          <form [formGroup]="thumbnailFormGroup" class="step-content-layout">
            <ng-template matStepLabel>Choose Thumbnail</ng-template>
            <mat-form-field appearance="outline" class="mat-form-field-class">
              <mat-label>Thumbnail Image</mat-label>
              <input
                matInput
                placeholder="Select Thumbnail Image"
                formControlName="thumbnailImageCtrl"
                class="video-upload-thumbnail"
                [readonly]="true"
              />
              <button
                mat-button
                matSuffix
                mat-icon-button
                mat-raised-button
                type="button"
                color="accent"
                (click)="uploadImage($event, imageType.Thumbnail)"
              >
                <mat-icon>file_open</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  thumbnailFormGroup.controls['thumbnailImageCtrl'].hasError(
                    'required'
                  )
                "
              >
                Select image file for video thumbnail
              </mat-error>
            </mat-form-field>

            <div
              *ngIf="videoObj.thumbnailImageUrl"
              class="thumbnail-image-container"
            >
              <img
                [src]="serverUrl + videoObj.thumbnailImageUrl"
                alt="Thumbnail"
                class="thumbnail-image"
              />
            </div>
            <div class="video-upload-button-container">
              <button
                mat-raised-button
                type="button"
                color="accent"
                class="button Content-1 button-Next"
                [disabled]="thumbnailFormGroup.invalid"
                matStepperNext
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="audienceFormGroup">
          <form [formGroup]="audienceFormGroup" class="step-content-layout">
            <ng-template matStepLabel>Audience</ng-template>
            <div>
              <mat-radio-group
                aria-label="Select Audience"
                formControlName="audienceOption"
              >
                <mat-radio-button value="okForKids"
                  >Suitable for Kids</mat-radio-button
                >
                <mat-radio-button value="notOkForKids"
                  >Not recommended for Kids</mat-radio-button
                >
              </mat-radio-group>
              <mat-error *ngIf="audienceOptionErrors?.['required']"
                >Please select an option</mat-error
              >
            </div>
            <div class="video-upload-button-container">
              <button
                mat-raised-button
                type="button"
                color="accent"
                class="button Content-1 button-Back"
                matStepperPrevious
              >
                Back
              </button>

              <button
                mat-raised-button
                type="button"
                color="accent"
                class="button Content-1 button-Next"
                [disabled]="audienceFormGroup.invalid"
                (click)="defineAudience()"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="visibilityFormGroup">
          <form [formGroup]="visibilityFormGroup" class="step-content-layout">
            <ng-template matStepLabel>Visibility</ng-template>
            <div>
              <mat-radio-group
                aria-label="Select an option"
                formControlName="visibilityOption"
              >
                <mat-radio-button value="public">Public</mat-radio-button>
                <mat-radio-button value="unlisted">Unlisted</mat-radio-button>
                <mat-radio-button value="private">Private</mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="visibilityOptionErrors?.['required']"
                >Please select an option</mat-error
              >
            </div>
            <div class="video-upload-button-container">
              <button
                mat-raised-button
                type="button"
                color="accent"
                class="button Content-1 button-Back"
                matStepperPrevious
              >
                Back
              </button>
              <button
                mat-raised-button
                type="button"
                color="accent"
                class="button Content-1 button-Next"
                [disabled]="visibilityFormGroup.invalid"
                (click)="defineVisibility()"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <form class="step-content-layout">
            <ng-template matStepLabel class="step-content-layout"
              >Upload Video</ng-template
            >
            <div>
              <p class="Content-2" style="text-align: justify">
                After you submit your video, it will go through a validation
                process before it is published online. During this process, the
                content of your video will be reviewed to ensure it meets the
                StreamVault community guidelines.
              </p>
              <p class="Content-2" style="text-align: justify">
                Once your video has been verified and found to be in compliance
                with the guidelines, it will be made public and available for
                viewing by the wider audience.
              </p>
            </div>
            <div class="video-upload-button-container">
              <button
                mat-raised-button
                type="button"
                color="accent"
                class="button Content-1 button-Back"
                matStepperPrevious
              >
                Back
              </button>
              <button
                mat-raised-button
                type="button"
                color="accent"
                class="button Content-1 button-Next"
                (click)="printTheObject()"
              >
                Upload
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
  <div
    class="overlay"
    [ngClass]="{ 'overlay-disabled': isCreating }"
    *ngIf="isCreating"
  >
    <mat-spinner *ngIf="isCreating" class="center-spinner"></mat-spinner>
  </div>

  <div class="video-upload-details-col-mob-view-only">
    <div class="video-upload-details-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
</div>
