<div>
  <div class="stream-vault-main-page">
    <div class="stream-vault-main-column">
      <div class="stream-vault-main-title-row">
        <span class="stream-vault-page-title">
          <span style="width: 100%">Experience the Future of </span>
          <span>Video Content Platform </span>
          <span>with </span>
          <span>Web 3.0</span>
        </span>
      </div>

      <div class="stream-vault-connect-row">
        <button
          mat-raised-button
          color="accent"
          class="button stream-vault-connect-button"
        >
          Connect with Pi Network
        </button>
      </div>
      <div class="stream-vault-signup-row">
        <div class="stream-vault-container-col">
          <span class="mat-subheading-2 stream-vault-text4">
            <span> Sign up to become a&nbsp; </span>
            <span class="stream-vault-text6">&nbsp;Member&nbsp;</span>
            <span>&nbsp;and Access Premium Content and Features</span>
          </span>
          <button
            mat-raised-button
            color="accent"
            class="button stream-vault-signup-btn"
          >
            Sign up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
