<div class="landing-page-container">
  <div class="landing-page-main-column-page">
    <div class="landing-page-main-title-row">
      <span class="mat-headline landing-page-page-titledesktop">
        <span>Experience the Future of </span>
        <span>Video Content Platform </span>
        <span>with </span>
        <span>Web 3.0</span>
      </span>
      <span class="mat-title landing-page-page-titlemobile">
        Experience the Future of Video Content Platform with Web 3.0
      </span>
    </div>
    <div class="landing-page-connect-row">
      <button
        mat-raised-button
        color="accent"
        class="button Content-3 landing-page-connect-button"
      >
        Connect with Pi Network
      </button>
    </div>
    <div class="landing-page-signup-row">
      <div class="landing-page-container-col">
        <span class="mat-subheading-2 landing-page-signup-text">
          <span> Sign up to become a&nbsp; </span>
          <span
            routerLink="../user/register-member"
            class="landing-page-member-text"
            >&nbsp;Member&nbsp;</span
          >
          <span>&nbsp;and Access Premium Content and Features</span>
        </span>
        <button
          mat-raised-button
          routerLink="../user/register-member"
          color="accent"
          class="button Content-3 landing-page-signup-btn"
        >
          Sign up
        </button>
      </div>
    </div>
  </div>
</div>
