<div class="landing-page-container">
  <div class="landing-page-container1">
    <div class="landing-page-first-row">
      <span class="landing-page-page-title">
        <span>Experience the Future of </span>
        <span>Video Content Platform </span>
        <span>with </span>
        <span>Web 3.0</span>
      </span>
    </div>
    <div class="landing-page-second-row">
      <button class="landing-page-button">Connect with Pi Network</button>
    </div>
    <div class="landing-page-third-row">
      <span class="landing-page-text4">
        <span class="landing-page-text5"> Become a </span>
        <span class="landing-page-text6">Member</span>
        <span class="landing-page-text7"> and Access </span>
        <span class="landing-page-text8"> Premium Content and Features </span>
      </span>
    </div>
  </div>
</div>
