<div class="new-channel-container">
  <div class="new-channel-col-mob-view-only">
    <div class="new-channel-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>

  <div class="new-channel-main-column">
    <div class="Content-3 page-Title-Header">
      <label>New Channel</label>
    </div>

    <div class="new-channel-channel-banner">
      <div
        *ngIf="bannerImageUrl.length === 0"
        class="new-channel-channel-banner-main-container"
      >
        <div class="new-channel-container1"></div>
        <div class="new-channel-banner-browse-container">
          <mat-icon
            (click)="uploadImage($event, imageType.Banner)"
            class="new-channel-banner-icon"
          >
            photo_camera
          </mat-icon>
        </div>
        <div class="new-channel-banner-info-container">
          <mat-icon
            (click)="showInfoPopup($event, overlayType.Banner)"
            class="new-channel-banner-info-icon"
          >
            info_outline
          </mat-icon>
        </div>
      </div>
      <div
        *ngIf="bannerImageUrl.length > 0"
        class="new-channel-channel-banner-image-container"
      >
        <img [src]="serverUrl + bannerImageUrl" alt="Banner" />

        <div class="new-channel-banner-edit-icon-container">
          <mat-icon
            (click)="uploadImage($event, imageType.Banner)"
            class="new-channel-banner-edit-icon"
          >
            edit
          </mat-icon>
        </div>
      </div>
    </div>

    <form [formGroup]="newChannelFormGroup" style="flex: 1; width: 95%">
      <div class="new-channel-container2">
        <div
          *ngIf="profileImageUrl.length === 0"
          class="new-channel-channel-profile-container"
        >
          <mat-icon
            (click)="uploadImage($event, imageType.Profile)"
            class="new-channel-banner-icon"
          >
            photo_camera
          </mat-icon>
        </div>

        <div
          *ngIf="profileImageUrl.length > 0"
          class="new-channel-profile-picture-container"
        >
          <img
            [src]="serverUrl + profileImageUrl"
            alt="Profile Picture"
            class="channel-profile-picture"
          />

          <mat-icon
            (click)="uploadImage($event, imageType.Profile)"
            class="new-channel-profile-picture-edit-icon"
          >
            edit
          </mat-icon>
        </div>

        <span class="new-channel-text1">
          &nbsp;&nbsp; Provide profile image for channel</span
        >
        <mat-icon
          (click)="showInfoPopup($event, overlayType.Profile)"
          class="new-channel-profile-info-icon"
        >
          info
        </mat-icon>
      </div>
      <div class="new-channel-channel-name-row">
        <mat-form-field class="mat-form-field-class">
          <mat-label>Channel Name</mat-label>
          <input
            matInput
            aria-label="Channel Name"
            placeholder="Your Channel Name"
            formControlName="channelNameCtrl"
            #channelName
            autocomplete="new-password"
            (blur)="generateChannelHandle(channelName.value)"
          />
          <mat-error
            [input]="channelName"
            fieldLabel="Channel Name"
            [group]="newChannelFormGroup"
            [appFieldError]="ErrorSets['RequiredText']"
          >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="new-channel-containerHandle">
        <mat-form-field appearance="outline" class="mat-form-field-class">
          <input
            matInput
            placeholder="Handle"
            formControlName="handleCtrl"
            class="new-channel-textHandle"
            [readonly]="true"
          />
        </mat-form-field>
      </div>

      <div class="new-channel-containerCategory">
        <mat-form-field
          class="mat-form-field-class"
          appearance="fill"
          style="height: auto"
        >
          <mat-label>Categories</mat-label>
          <mat-chip-list #chipList aria-label="Category selection">
            <mat-chip
              *ngFor="let category of categories"
              (removed)="remove(category)"
            >
              {{ category }}
              <button matChipRemove>
                <mat-icon style="color: red">cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              style="height: auto"
              placeholder="New Category..."
              #categoryInput
              formControlName="categoryCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option
              class="auto-option-list"
              *ngFor="let category of filteredCategories | async"
              [value]="category"
            >
              {{ category }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="new-channel-containerDescription">
        <mat-form-field class="mat-form-field-class">
          <mat-label>Description</mat-label>
          <textarea
            class="new-channel-textarea"
            matInput
            rows="10"
            formControlName="descriptionCtrl"
            #description
            placeholder="Description"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="new-channel-button-container">
        <button
          mat-raised-button
          color="accent"
          class="button Content-2 new-channel-button"
          (click)="saveNewChannel()"
          [disabled]="isCreating"
        >
          Done
        </button>
      </div>
    </form>
  </div>
  <div
    class="overlay"
    [ngClass]="{ 'overlay-disabled': isCreating }"
    *ngIf="isCreating"
  >
    <mat-spinner *ngIf="isCreating" class="center-spinner"></mat-spinner>
  </div>
</div>
