<div class="new-channel-container">
  <div class="new-channel-main-column">
    <div class="mat-title page-Title-Header">
      <label>New Channel</label>
    </div>
    <div class="new-channel-channel-logo">
      <div class="new-channel-container1">
        <div class="new-channel-container2">
          <svg viewBox="0 0 1024 1024" class="new-channel-icon">
            <path
              d="M512 726q88 0 151-63t63-151-63-151-151-63-151 63-63 151 63 151 151 63zM384 86h256l78 84h136q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h136zM376 512q0-56 40-96t96-40 96 40 40 96-40 96-96 40-96-40-40-96z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="new-channel-container3">
      <div class="new-channel-channel-logo-container">
        <svg viewBox="0 0 1024 1024" class="new-channel-icon2">
          <path
            d="M512 726q88 0 151-63t63-151-63-151-151-63-151 63-63 151 63 151 151 63zM384 86h256l78 84h136q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h136zM376 512q0-56 40-96t96-40 96 40 40 96-40 96-96 40-96-40-40-96z"
          ></path>
        </svg>
      </div>
      <input
        type="text"
        placeholder="Name"
        class="input new-channel-textinput"
      />
    </div>
    <div class="new-channel-container4">
      <input
        type="text"
        placeholder="Handle"
        class="input new-channel-textinput1"
      />
    </div>
    <div class="new-channel-container5">
      <textarea
        placeholder="Description"
        class="textarea new-channel-textarea"
      ></textarea>
    </div>
    <div class="new-channel-container6">
      <button
        mat-raised-button
        color="accent"
        class="button new-channel-button"
      >
        Create
      </button>
    </div>
  </div>
  <div class="new-channel-col-mob-view-only">
    <div class="new-channel-message-prompt-row">
      <span class="mat-title mob-view-prompt-text">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. <br /><br />
        Thank you!
      </span>
    </div>
  </div>
</div>
