<div class="channel-edit-container">
  <div class="channel-edit-col-mob-view-only">
    <div class="channel-edit-message-prompt-row">
      <span class="mat-title mob-view-prompt-text">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="channel-edit-main-column">
    <div class="channel-edit-edit-channel-header">
      <label>Edit Channel</label>
    </div>
    <div class="channel-edit-channel-logo">
      <div class="channel-edit-container1">
        <div class="channel-edit-container2">
          <svg viewBox="0 0 1024 1024" class="channel-edit-icon">
            <path
              d="M512 726q88 0 151-63t63-151-63-151-151-63-151 63-63 151 63 151 151 63zM384 86h256l78 84h136q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h136zM376 512q0-56 40-96t96-40 96 40 40 96-40 96-96 40-96-40-40-96z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="channel-edit-container3">
      <div class="channel-edit-channel-logo-container">
        <svg viewBox="0 0 1024 1024" class="channel-edit-icon2">
          <path
            d="M512 726q88 0 151-63t63-151-63-151-151-63-151 63-63 151 63 151 151 63zM384 86h256l78 84h136q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h136zM376 512q0-56 40-96t96-40 96 40 40 96-40 96-96 40-96-40-40-96z"
          ></path>
        </svg>
      </div>
      <input
        type="text"
        placeholder="Name"
        class="input channel-edit-textinput"
      />
    </div>
    <div class="channel-edit-container4">
      <input
        type="text"
        placeholder="Handle"
        class="input channel-edit-textinput1"
      />
    </div>
    <div class="channel-edit-container5">
      <textarea
        placeholder="Description"
        class="textarea channel-edit-textarea"
      ></textarea>
    </div>
    <div class="channel-edit-container6">
      <button
        mat-raised-button
        color="accent"
        class="button channel-edit-button"
      >
        Done
      </button>
    </div>
  </div>
</div>
