<div class="channel-info-container">
  <div class="channel-info-main-column">
    <div class="channel-info-channel-infor-top-row">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="channel-info-logo"
      />
      <div class="channel-info-channel-key-details">
        <span class="Heading-4 channel-info-lbl-channel-name">
          Channel Name
        </span>
        <div class="channel-info-container1">
          <div class="channel-info-total-followers-container">
            <span class="mat-subheading-2 channel-info-text">25</span>

            <span class="mat-subheading-2 channel-info-text">Followers</span>
            <br />
          </div>
        </div>
      </div>
      <svg viewBox="0 0 1024 1024" class="channel-info-icon">
        <path
          d="M884 300l-78 78-160-160 78-78q12-12 30-12t30 12l100 100q12 12 12 30t-12 30zM128 736l472-472 160 160-472 472h-160v-160z"
        ></path>
      </svg>
    </div>
    <div class="channel-info-analytics-container">
      <div class="channel-info-container2">
        <span class="mat-title channel-info-text04">Channel Analytics</span>
        <span class="Content-2 channel-info-text05">Last 30 days</span>
      </div>
      <div class="channel-info-analytics-summary-box">
        <div class="channel-info-container-total-views">
          <span class="Content channel-info-text06">Views</span>
          <span class="mat-subheading-2 channel-info-text07"
            >26<small>K</small></span
          >
        </div>
        <div class="channel-info-container-total-watchtime">
          <span class="Content channel-info-text08">Watch Time</span>
          <span class="mat-subheading-2 channel-info-text09"
            >375 <small>Hours</small></span
          >
        </div>
      </div>
    </div>
    <div class="channel-info-vid-info-container">
      <div class="channel-info-vid-title-logo-container">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="channel-info-vid-logo"
        />
        <div class="channel-info-vid-title-container">
          <span class="Content-2">
            Video Title gfgfdgfdsfgdfggf gfdggfgfdgdfg sdfd asdfa sdfasd
            asdfsdfds
          </span>
          <span class="channel-info-time-published">
            <span>1 month ago</span>
            <br />
          </span>
        </div>
      </div>
      <div class="channel-info-separator"></div>
      <div class="channel-info-vid-statistics-container">
        <div class="channel-info-container3">
          <svg viewBox="0 0 1024 1024" class="channel-info-icon2">
            <path
              d="M810 426h86v172h-86v-172zM640 768v-512h86v512h-86zM128 598v-172h86v172h-86zM470 938v-852h84v852h-84zM298 768v-512h86v512h-86z"
            ></path>
          </svg>
          <span class="Content-2 channel-info-text12">26K</span>
        </div>
        <div class="channel-info-container4">
          <svg viewBox="0 0 1024 1024" class="channel-info-icon4">
            <path
              d="M755.188 64c-107.63 0-200.258 87.554-243.164 179-42.938-91.444-135.578-179-243.216-179-148.382 0-268.808 120.44-268.808 268.832 0 301.846 304.5 380.994 512.022 679.418 196.154-296.576 511.978-387.206 511.978-679.418 0-148.392-120.43-268.832-268.812-268.832z"
            ></path>
          </svg>
          <span class="Content-2 channel-info-text13">32</span>
        </div>
        <div class="channel-info-container5">
          <svg viewBox="0 0 1024 1024" class="channel-info-icon6">
            <path
              d="M768 342v-86h-512v86h512zM768 470v-86h-512v86h512zM768 598v-86h-512v86h512zM938 170v768l-170-170h-598q-34 0-59-26t-25-60v-512q0-34 25-59t59-25h684q34 0 59 25t25 59z"
            ></path>
          </svg>
          <span class="Content-2 channel-info-text14">5</span>
        </div>
      </div>
    </div>
  </div>
  <div class="channel-info-col-mob-view-only">
    <div class="channel-info-message-prompt-row">
      <span class="mat-title mob-view-prompt-text">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
</div>
