:host {
  display: contents;
}
.new-channel-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-channel-col-mob-view-only {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-accent-300);
}
.new-channel-message-prompt-row {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.new-channel-main-column {
  flex: 0 0 auto;
  width: 200px;
  display: none;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-size-size-small);
}
.new-channel-edit-channel-header {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-channel-channel-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-channel-channel-banner-main-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.new-channel-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-channel-banner-browse-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.new-channel-banner-icon {
  width: 24px !important;
  height: 24px !important;
}
.new-channel-banner-info-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-channel-banner-info-icon {
  width: 24px;
  height: 24px;
}

.new-channel-channel-banner-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-channel-thumbnail-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-channel-channel-profileBrowse-container {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-channel-profile-info-icon {
  width: 24px;
  height: 24px;
}

.new-channel-channel-name-row {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium-1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-channel-containerHandle {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium-1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new-channel-containerCategory {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium-1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new-channel-containerDescription {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-large);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-channel-button-container {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: center;
}
.new-channel-button {
  color: var(--dl-color-accent-100);
  width: 376px;
  height: var(--dl-size-size-small);
  align-self: center;
  text-align: center;
}

.new-channel-button:focus {
  background-color: var(--dl-color-accent-900);
}
@media (max-width: 991px) {
  .new-channel-col-mob-view-only {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-accent-300);
  }
  .new-channel-message-prompt-row {
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .new-channel-main-column {
    display: none;
  }
}
@media (max-width: 767px) {
  .new-channel-col-mob-view-only {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-accent-300);
  }
  .new-channel-message-prompt-row {
    width: 70%;
    align-items: center;
    justify-content: center;
  }
  .new-channel-main-column {
    display: none;
  }
}
@media (max-width: 479px) {
  .new-channel-col-mob-view-only {
    display: none;
  }

  /* images related css classes */

  .new-channel-channel-banner-image-container {
    width: 95%;
    height: 150px;
    align-items: center;
    border-color: var(--dl-color-primary-700);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    justify-content: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    position: relative;
  }

  .new-channel-channel-banner-image-container img {
    width: 100%; /* Set the width of the image to 100% of the container */
    height: 100%; /* Set the height of the image to 100% of the container */
    border-radius: var(--dl-radius-radius-radius6);
    object-fit: cover; /* Scale the image to fit inside the container */
  }

  .new-channel-banner-edit-icon-container {
    position: absolute;
    top: 10px; /* Adjust the margin from the top */
    right: 10px; /* Adjust the margin from the right */
    z-index: 100; /* Ensure the div is positioned above the image */
  }

  .new-channel-banner-edit-icon {
    // width: var(--dl-size-size-xsmall);
    // height: var(--dl-size-size-xsmall);
    // fill: var(--dl-color-accent-100);
    // border: 1px solid; /* Set the border properties */
    // border-color: var(--dl-color-primary-700);
    // border-radius: 50%; /* Make the border circular */
    // padding: 4px; /* Adjust the padding for spacing */
    // background-color: var(--dl-color-primary-300);

    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    color: var(--dl-color-accent-50);
    border: 1px solid; /* Set the border properties */
    border-color: var(--dl-color-primary-900);
    border-radius: 40%; /* Make the border circular */
    padding: 3px; /* Adjust the padding for spacing */
    font-size: medium;
    background-color: var(--dl-color-primary-300);
    z-index: 800;
    //position: absolute;
    // top: 2px;
    // left: 2px;
    opacity: 0.75;
  }

  .new-channel-profile-picture-container {
    width: var(--dl-size-size-medium-1);
    height: var(--dl-size-size-medium-1);
    overflow: hidden;
    margin: var(--dl-space-space-halfunit);
    align-items: center;
    border-color: var(--dl-color-primary-700);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    justify-content: center;
    position: relative;
  }

  .channel-profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ----------------------- */

  .new-channel-profile-picture-edit-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    color: var(--dl-color-accent-50);
    border: 1px solid; /* Set the border properties */
    border-color: var(--dl-color-primary-900);
    border-radius: 40%; /* Make the border circular */
    padding: 3px; /* Adjust the padding for spacing */
    font-size: medium;
    background-color: var(--dl-color-primary-300);
    z-index: 800;
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 0.75;
  }

  .new-channel-main-column {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    border-color: var(--dl-color-primary-900);
    border-width: 1px;
    background-image: linear-gradient(
      135deg,
      rgb(189, 195, 199) 0%,
      rgb(219, 147, 137) 100%
    );
    padding-bottom: var(--dl-size-size-small);
  }

  form {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 95vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius6);
  }

  form > div:first-child {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .new-channel-edit-channel-header {
    height: var(--dl-size-size-small);
    background-color: var(--dl-color-accent-900);
  }

  .new-channel-channel-banner-main-container {
    width: 95%;
    height: var(--dl-size-size-medium);
    align-items: center;
    border-color: var(--dl-color-primary-700);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    justify-content: space-between;
    background-color: var(--dl-color-accent-500);
    margin-top: var(--dl-space-space-halfunit);
  }

  .new-channel-container1 {
    width: 20%;
    height: var(--dl-size-size-medium-1);
    border-color: var(--dl-color-primary-700);
    border-style: solid;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius6);
  }
  .new-channel-banner-browse-container {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    border-color: var(--dl-color-primary-700);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    align-items: center;
    justify-content: center;
  }
  .new-channel-banner-icon {
    color: var(--dl-color-accent-100);
  }

  .new-channel-banner-info-container {
    width: 20%;
    height: var(--dl-size-size-medium-1);
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius6);
    justify-content: flex-end;
  }

  .new-channel-channel-banner-container {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin: var(--dl-space-space-halfunit);
    align-items: center;
    border-color: var(--dl-color-primary-700);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    justify-content: center;
    background-color: var(--dl-color-accent-500);
  }

  .new-channel-banner-info-icon {
    margin-right: var(--dl-space-space-halfunit);
    color: var(--dl-color-accent-100);
  }

  .new-channel-thumbnail-container {
    height: var(--dl-size-size-medium);
    justify-content: center;
  }
  .new-channel-channel-profileBrowse-container {
    width: var(--dl-size-size-medium-1);
    height: var(--dl-size-size-medium-1);
    //margin: var(--dl-space-space-halfunit);
    align-items: center;
    border-color: var(--dl-color-primary-700);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius6);
    justify-content: center;
    background-color: var(--dl-color-accent-500);
  }

  .new-channel-text-profile-image {
    color: var(--dl-color-accent-900);
    margin-left: calc(var(--dl-space-space-halfunit) / 2);
    margin-right: calc(var(--dl-space-space-halfunit) / 2);
  }
  .new-channel-profile-info-icon {
    font-size: normal;
    fill: var(--dl-color-accent-900);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }

  .new-channel-channel-name-row {
    height: 76px;
    justify-content: center;
  }
  .new-channel-channel-name {
    width: 100%;
    align-self: flex-start;
    border-width: 0px;
  }
  .new-channel-containerHandle {
    height: var(--dl-size-size-medium-1);
    justify-content: center;
  }

  .new-channel-containerCategory {
    min-height: var(--dl-size-size-medium-1);
    height: auto;
    justify-content: center;
  }
  .new-channel-textHandle {
    width: 100%;
    align-self: flex-start;
    border-width: 0px;
  }

  .auto-option-list {
    font-size: 12px;
    font-family: "Montserrat";
    height: var(--dl-space-space-twounits);
  }

  .new-channel-containerDescription {
    height: var(--dl-size-size-large);
    margin-bottom: 0px;
    justify-content: center;
  }

  .new-channel-textarea {
    width: 100%;
    height: auto;
    align-self: flex-start;
    border-color: var(--dl-color-primary-700);
    padding: var(--dl-space-space-halfunit);
  }
  .new-channel-button-container {
    height: var(--dl-size-size-medium-1);
    position: relative;
    align-items: center;
    margin-top: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .new-channel-button {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-small);
  }

  .popup-backdrop {
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ) !important; /* Set your desired background color */
    pointer-events: auto !important;
    box-shadow: none !important;
  }
}
