:host {
  display: contents;
}
.member-home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.member-home-main-column {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.member-home-your-channels-row {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium-1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-home-channel-info-row {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.member-home-channel-content-row {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.member-home-your-ads-header-row {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-home-your-ad-content-row {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-home-container1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member-home-icon {
  width: 24px;
  height: 24px;
}
.member-home-col-mob-view-only {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-accent-300);
}
.member-home-message-prompt-row {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.channelDetailsGoTo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  cursor: pointer;
}

.goto-details-icon {
  fill: var(--dl-color-primary-900);
}

.channelTitle {
  color: var(--dl-color-accent-900);
  font-weight: 500;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: var(--dl-color-accent-900);
}

tr:nth-child(even) {
  background-color: var(--dl-color-accent-100);
}

tr:nth-child(odd) {
  background-color: #ffffff; /* white */
}

tr {
  height: 32px;
}

td {
  padding: 8px;
}

.cellItemsFirstCol {
  text-align: left;
  vertical-align: middle;
}
.cellItemsSecondCol {
  text-align: right;
  vertical-align: middle;
}

@media (max-width: 991px) {
  .member-home-main-column {
    display: none;
  }
  .member-home-col-mob-view-only {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-accent-300);
  }
  .member-home-message-prompt-row {
    width: 80%;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .member-home-main-column {
    display: none;
  }
  .member-home-col-mob-view-only {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-accent-300);
  }
  .member-home-message-prompt-row {
    width: 70%;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .member-home-container {
    border-color: var(--dl-color-accent-100);
    border-width: 1px;
  }
  .member-home-main-column {
    flex: 1;
    display: flex;
    background-image: linear-gradient(
      135deg,
      rgb(189, 195, 199) 0%,
      rgb(219, 147, 137) 100%
    );
  }
  .member-home-your-channels-row {
    height: var(--dl-size-size-small);
    align-items: center;
    background-color: var(--dl-color-accent-900);
  }
  .member-home-title {
    text-align: left;
    padding-left: var(--dl-space-space-unit);
    color: var(--dl-color-accent-50);
  }
  .member-home-channel-info-row {
    height: auto;
    width: 100%;
    margin: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }

  .member-home-channel-content-row {
    width: 95%;
    height: auto;
    align-items: flex-start;
    border-style: solid;
    border-width: 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--dl-color-danger-700);
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }

  .member-home-no-channels-row {
    width: 95%;
    height: auto;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }

  .channel-create-label {
    text-align: justify;
    width: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }

  .button-create-channel {
    width: auto;
    height: var(--dl-size-size-small);
  }

  /* Advertisement related classes */

  .member-home-your-ads-header-row {
    height: var(--dl-size-size-small);
    align-items: center;
    background-color: var(--dl-color-accent-900);
  }
  .member-home-title1 {
    text-align: left;
    padding-left: var(--dl-space-space-unit);
    color: var(--dl-color-accent-50);
  }
  .member-home-your-ad-content-row {
    height: var(--dl-size-size-small);
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    justify-content: space-between;
  }
  .member-home-ad-label {
    color: var(--dl-color-accent-900);
    padding-left: 0px;
  }
  .member-home-container1 {
    align-items: center;
  }
  .member-home-lbl-view-count {
    color: var(--dl-color-accent-900);
    width: auto;
    height: 100%;
    text-align: center;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .member-home-icon {
    fill: var(--dl-color-accent-700);
  }

  /* ----------------------------------- */

  .member-home-col-mob-view-only {
    display: none;
  }
}
