<div class="member-home-container">
  <div class="member-home-main-column">
    <div class="member-home-your-channels-row">
      <label class="member-home-title Content-3">Your Channels</label>
    </div>
    <div class="member-home-channel-info-row">
      <div class="member-home-channel-content-row">
        <mat-expansion-panel style="width: 100%">
          <mat-expansion-panel-header>
            <mat-panel-title class="channelTitle">Channel Name</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="channelDetailsGoTo">
            <a href="https://www.google.com.au" target="_blank">
              <mat-icon>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  class="goto-details-icon"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M20 14a1 1 0 0 0-1 1v3.077c0 .459-.022.57-.082.684a.363.363 0 0 1-.157.157c-.113.06-.225.082-.684.082H5.923c-.459 0-.571-.022-.684-.082a.363.363 0 0 1-.157-.157c-.06-.113-.082-.225-.082-.684L4.999 5.5a.5.5 0 0 1 .5-.5l3.5.005a1 1 0 1 0 .002-2L5.501 3a2.5 2.5 0 0 0-2.502 2.5v12.577c0 .76.083 1.185.32 1.627.223.419.558.753.977.977.442.237.866.319 1.627.319h12.154c.76 0 1.185-.082 1.627-.319.419-.224.753-.558.977-.977.237-.442.319-.866.319-1.627V15a1 1 0 0 0-1-1zm-2-9.055v-.291l-.39.09A10 10 0 0 1 15.36 5H14a1 1 0 1 1 0-2l5.5.003a1.5 1.5 0 0 1 1.5 1.5V10a1 1 0 1 1-2 0V8.639c0-.757.086-1.511.256-2.249l.09-.39h-.295a10 10 0 0 1-1.411 1.775l-5.933 5.932a1 1 0 0 1-1.414-1.414l5.944-5.944A10 10 0 0 1 18 4.945z"
                  />
                </svg>
              </mat-icon>
            </a>
          </div>
          <table>
            <tr>
              <td class="cellItemsFirstCol">Videos</td>
              <td class="cellItemsSecondCol">10</td>
            </tr>
            <tr>
              <td class="cellItemsFirstCol">Followers</td>
              <td class="cellItemsSecondCol">200</td>
            </tr>
            <tr>
              <td class="cellItemsFirstCol">Likes</td>
              <td class="cellItemsSecondCol">352</td>
            </tr>
            <tr>
              <td class="cellItemsFirstCol">Watch Time</td>
              <td class="cellItemsSecondCol">8.6 hrs</td>
            </tr>
            <tr>
              <td class="cellItemsFirstCol">Views</td>
              <td class="cellItemsSecondCol">75k</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </div>
    </div>

    <div class="member-home-your-ads-header-row">
      <label class="Content-3 member-home-title1">Your Advertisements</label>
    </div>
    <div class="member-home-your-ad-content-row">
      <label class="Content-2 member-home-ad-label">
        Cake now on 20% discount
      </label>
      <div class="member-home-container1">
        <label class="member-home-lbl-view-count">25K</label>
        <svg viewBox="0 0 1024 1024" class="member-home-icon">
          <path
            d="M512 384q52 0 90 38t38 90-38 90-90 38-90-38-38-90 38-90 90-38zM512 726q88 0 151-63t63-151-63-151-151-63-151 63-63 151 63 151 151 63zM512 192q158 0 286 88t184 232q-56 144-184 232t-286 88-286-88-184-232q56-144 184-232t286-88z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="member-home-col-mob-view-only">
    <div class="member-home-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
</div>
