<div class="un-register-video-validator-container">
  <div class="un-register-video-validator-col-mob-view-only">
    <div class="un-register-video-validator-message-prompt-row">
      <span class="Field-Label">
        Oops! It seems you&apos;re not viewing this on a mobile device. Please
        switch to a mobile view for the best experience. Thank you!
      </span>
    </div>
  </div>
  <div class="un-register-video-validator-main-page-column">
    <div class="Content-3 page-Title-Header">
      <label>Unregister as a Validator</label>
    </div>
    <div class="un-register-video-validator-container1">
      <p class="Content-2 un-register-video-validator-text1">
        I have made the decision to step down from the role of a video
        validator.
      </p>
      <p class="Content-2 un-register-video-validator-text2">
        I understand and agree that unless I register again, I will no longer
        have the ability to validate videos.
      </p>
      <p class="Content-2 un-register-video-validator-text3">
        I acknowledge that I can reclaim and transfer all the earnings I have
        accumulated from my previous video validation efforts to my wallet.
      </p>
    </div>
    <div class="un-register-video-validator-container2"></div>
    <button
      mat-raised-button
      color="accent"
      class="button un-register-video-validator-unregister-button"
    >
      Unregister
    </button>
  </div>
</div>
