<div class="membership-registration-container">
  <div class="membership-registration-main-column">
    <div class="membership-registration-container01">
      <label class="membership-registration-title Heading-3">
        Become Member
      </label>
    </div>
    <div class="membership-registration-container02">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG1lbWJlcnxlbnwwfHx8fDE2ODEyNzg4Njc&amp;ixlib=rb-4.0.3&amp;w=200"
        class="membership-registration-image"
      />
      <svg viewBox="0 0 1024 1024" class="membership-registration-back-icon">
        <path d="M498 166l-346 346 346 346-76 76-422-422 422-422z"></path>
      </svg>
    </div>
    <div class="membership-registration-container03">
      <span class="membership-registration-text Content-2">
        All these subscriptions are based  on Test Pi (but not real Pi). As this
        system is running in Pi Testnet.
      </span>
    </div>
    <div class="membership-registration-container04">
      <input
        type="text"
        id="txtName"
        placeholder="Name"
        class="membership-registration-name input"
      />
    </div>
    <div class="membership-registration-container05">
      <input
        type="text"
        id="txtEmail"
        placeholder="Email"
        class="membership-registration-name1 input"
      />
    </div>
    <div class="membership-registration-container06">
      <select class="membership-registration-select">
        <option value="Country">Select Country</option>
        <option value="Option 1">City</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
        <option value="Option 3">Option 3</option>
      </select>
    </div>
    <div class="membership-registration-container07">
      <select class="membership-registration-select1">
        <option value="Select City">Select City</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
      </select>
    </div>
    <div class="membership-registration-container08">
      <span class="membership-registration-text01 Field-Label">
        Age greater than 18
      </span>
      <input
        type="checkbox"
        checked="true"
        class="membership-registration-checkbox"
      />
    </div>
    <div class="membership-registration-list-item1">
      <li class="membership-registration-li Content list-item">
        <div class="membership-registration-container09">
          <div class="membership-registration-container10">
            <span class="membership-registration-text02 Field-Label">
              Monthly
            </span>
            <span class="membership-registration-text03 Field-Label">0.23</span>
            <svg viewBox="0 0 1024 1024" class="membership-registration-icon1">
              <path
                d="M798.165 364.16c-16.683-16.683-43.648-16.683-60.331 0-53.931 53.931-141.696 53.931-195.669 0-87.253-87.211-229.163-87.125-316.331 0-16.683 16.683-16.683 43.648 0 60.331s43.648 16.683 60.331 0c15.957-15.957 34.987-26.624 55.168-33.109v333.952c0 23.595 19.072 42.667 42.667 42.667s42.667-19.072 42.667-42.667v-333.909c20.139 6.485 39.211 17.109 55.168 33.067 32.768 32.725 73.173 53.12 115.499 61.312v239.531c0 23.595 19.072 42.667 42.667 42.667s42.667-19.072 42.667-42.667v-239.531c42.325-8.149 82.731-28.587 115.499-61.312 16.683-16.64 16.683-43.648 0-60.331z"
              ></path>
            </svg>
          </div>
        </div>
      </li>
    </div>
    <div class="membership-registration-list-item2">
      <li class="membership-registration-li1 list-item Content">
        <div class="membership-registration-container11">
          <div class="membership-registration-container12">
            <span class="membership-registration-text04 Field-Label">
              Quarterly
            </span>
            <span class="membership-registration-text05 Field-Label">0.23</span>
            <svg viewBox="0 0 1024 1024" class="membership-registration-icon3">
              <path
                d="M798.165 364.16c-16.683-16.683-43.648-16.683-60.331 0-53.931 53.931-141.696 53.931-195.669 0-87.253-87.211-229.163-87.125-316.331 0-16.683 16.683-16.683 43.648 0 60.331s43.648 16.683 60.331 0c15.957-15.957 34.987-26.624 55.168-33.109v333.952c0 23.595 19.072 42.667 42.667 42.667s42.667-19.072 42.667-42.667v-333.909c20.139 6.485 39.211 17.109 55.168 33.067 32.768 32.725 73.173 53.12 115.499 61.312v239.531c0 23.595 19.072 42.667 42.667 42.667s42.667-19.072 42.667-42.667v-239.531c42.325-8.149 82.731-28.587 115.499-61.312 16.683-16.64 16.683-43.648 0-60.331z"
              ></path>
            </svg>
          </div>
        </div>
      </li>
    </div>
    <div class="membership-registration-list-item3">
      <li class="membership-registration-li2 Content list-item">
        <div class="membership-registration-container13">
          <div class="membership-registration-container14">
            <span class="membership-registration-text06 Field-Label">
              Half-Yearly
            </span>
            <span class="membership-registration-text07 Field-Label">0.23</span>
            <svg viewBox="0 0 1024 1024" class="membership-registration-icon5">
              <path
                d="M798.165 364.16c-16.683-16.683-43.648-16.683-60.331 0-53.931 53.931-141.696 53.931-195.669 0-87.253-87.211-229.163-87.125-316.331 0-16.683 16.683-16.683 43.648 0 60.331s43.648 16.683 60.331 0c15.957-15.957 34.987-26.624 55.168-33.109v333.952c0 23.595 19.072 42.667 42.667 42.667s42.667-19.072 42.667-42.667v-333.909c20.139 6.485 39.211 17.109 55.168 33.067 32.768 32.725 73.173 53.12 115.499 61.312v239.531c0 23.595 19.072 42.667 42.667 42.667s42.667-19.072 42.667-42.667v-239.531c42.325-8.149 82.731-28.587 115.499-61.312 16.683-16.64 16.683-43.648 0-60.331z"
              ></path>
            </svg>
          </div>
        </div>
      </li>
    </div>
    <div class="membership-registration-list-item4">
      <li class="membership-registration-li3 Content list-item">
        <div class="membership-registration-container15">
          <div class="membership-registration-container16">
            <span class="membership-registration-text08 Field-Label">
              Yearly
            </span>
            <span class="membership-registration-text09 Field-Label">0.23</span>
            <svg viewBox="0 0 1024 1024" class="membership-registration-icon7">
              <path
                d="M798.165 364.16c-16.683-16.683-43.648-16.683-60.331 0-53.931 53.931-141.696 53.931-195.669 0-87.253-87.211-229.163-87.125-316.331 0-16.683 16.683-16.683 43.648 0 60.331s43.648 16.683 60.331 0c15.957-15.957 34.987-26.624 55.168-33.109v333.952c0 23.595 19.072 42.667 42.667 42.667s42.667-19.072 42.667-42.667v-333.909c20.139 6.485 39.211 17.109 55.168 33.067 32.768 32.725 73.173 53.12 115.499 61.312v239.531c0 23.595 19.072 42.667 42.667 42.667s42.667-19.072 42.667-42.667v-239.531c42.325-8.149 82.731-28.587 115.499-61.312 16.683-16.64 16.683-43.648 0-60.331z"
              ></path>
            </svg>
          </div>
        </div>
      </li>
    </div>
    <div class="membership-registration-container17">
      <button id="btnDone" class="membership-registration-button button">
        Register
      </button>
    </div>
  </div>
</div>
